{% load static %}
{% load filter_tags %}


{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'empty' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#   (1)#}
    {{ oferta.Fundo|mensagens_one|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (2)#}
    {{ oferta.Fundo|mensagens_two|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (3)#}
    {{ oferta.Fundo|mensagens_three|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (4)#}
    {{ oferta.Fundo|mensagens_three|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (5)#}
    {{ oferta.Fundo|mensagens_five|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (6)#}
    {{ oferta.Fundo|mensagens_six|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (7)#}
    {{ oferta.Fundo|mensagens_seven|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (8)#}
    {{ oferta.Fundo|mensagens_eight|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (9)#}
    {{ oferta.Fundo|mensagens_nine|safe }}
{% endif %}