{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
{% load crispy_forms_tags %}


<!-- BEGIN page Style -->
{% block style %}
     {% include './css/css.html' %}
    <style>
        .escondido{
            display:none
        }
    </style>
{% endblock %}
<!-- END page Style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}


    {% comment %} <form method="post" enctype="multipart/form-data" action="{% url 'clients:upload_clientes' %}">
        {% csrf_token %}

        <div class="input-group">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-sm btn-success" id="inputGroupFileAddon01" disabled  onclick='timerActive()'>Upload Clientes</button>
            </div>
            <div class="custom-file">
                <input name="myfile" type="file" class="custom-file-input" id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01" required >
                <label class="custom-file-label" for="inputGroupFile01" >Selecione o arquivo</label>
            </div>
        </div>
        
    </form> {% endcomment %}

    <br>

    <div id="copiado"></div>

{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}



    <div id="js-page-content-demopanels">
        <div class="col-xl-12">

            <div class="loader"></div>
            <div id="panel-1" class="panel">

                
                <div class="panel-hdr">
                    <h2>
                        Lista de Clientes <span class="fw-300"><i></i></span>
                      
                    </h2>
                </div>
                  
                <div class="panel-container show">
                    <div class="panel-content">
                       
                        <!-- datatable start -->

                        <div class="demo-v-spacing">

                            <ul class="nav nav-tabs" role="tablist">
                    
                                <li class="nav-item">
                                    <a class="nav-link active fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-2" role="tab">
                                        <i class="fal fa-user-plus text-warning"></i>
                                        <span class="hidden-sm-down ml-1">Novos  {% if n_novos_clientes > 0 %} <span class="badge bg-warning-300 ml-2">{{ n_novos_clientes }}</span> {% endif %}</span>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-e" role="tab">
                                        <i class="fal fa-arrows-h text-info"></i>
                                        <span class="hidden-sm-down ml-1">Troca de Assessor Externa {% if n_troca_assessor_externa > 0 %} <span class="badge bg-primary-300 ml-2">{{ n_troca_assessor_externa }}</span> {% endif %}</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-3" role="tab">
                                        <i class="fal fa-handshake text-primary"></i>
                                        <span class="hidden-sm-down ml-1">Troca de Assessor Interna {% if n_troca_assessor > 0 %} <span class="badge bg-primary-300 ml-2">{{ n_troca_assessor }}</span> {% endif %}</span>
                                    </a>
                                </li>

                                {% if n_contatos > 0 %}

                                    <li class="nav-item">
                                        <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-5" role="tab">
                                            <i class="fal fa-handshake text-primary"></i>
                                            <span class="hidden-sm-down ml-1">Contatos Google  <span class="badge bg-primary-300 ml-2">{{ n_contatos }}</span> </span>
                                        </a>
                                    </li>

                                {% endif %}

                                <li class="nav-item">
                                    <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-9" role="tab">
                                        <i class="fal fa-check-double"></i>
                                        <span class="hidden-sm-down ml-1">Rotina Onboarding {% if n_onboarding > 0 %} <span id="nrotina" class="badge bg-success-300 ml-2">{{ n_onboarding }}</span> {% endif %}</span>
                                    </a>
                                </li>

                            </ul>

                            <div class="tab-content p-3">


                                <!-- Novos clientes -->
                                {% include './tables/novosclientes.html' %}
                                
                                <!-- Troca de Assessor Externa -->
                                {% include './tables/trocaexterna.html' %}

                                <!-- Troca de Assessor Interna -->
                                {% include './tables/trocainterna.html' %}

                                <!-- Rotina  -->
                                {% include './tables/rotina.html' %}

                                {% if n_contatos > 0 %}

                                    <!-- Contatos google -->
                                    {% include './tables/google.html' %}
                                    

                                {% endif %}

                            </div>

                        </div>

                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <textarea hidden id="foo">
    {% for contato in contatos %}

        <tr>
            <td>{{ contato.nome|split:' '|first }} {{ contato.nome|split:' '|last }} {{ contato.nickname }}</td>
            <td>{{ contato.telefone }}</td>
        </tr>

    {% endfor %}
    </textarea>

    {# modal observacoes#}
    <div class="modal fade" id="default-example-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Adicionar Observaçao ao usuário
                        {# <small class="m-0 text-muted">#}
                                {# Below is a static modal example#}
                                {#</small>#}
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="pegaid">
                    <textarea class="form-control" rows="4" cols="50" id="modl_obs"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="salvarObs()">Salvar</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}

    {% include './js/js.html' %}

{% endblock %}
<!-- END page script -->


