{% load static %}
{% load filter_tags %}
{% load crispy_forms_tags %}

<div class="tab-pane fade show active table-responsive" id="aniversario" role="tabpanel">
  <table id="niver" class="table table-bordered table-hover table-striped w-100 table-sm allTables">

      <thead>
          <tr>
              <th>Alertas</th>
              <th>Código</th>
              <th>Nome</th>
              <th>Data Aniversário</th>
              <th>Idade</th>
              <th>WhatsApp</th>
              <th>Primeiro Contato</th>
              <th>Contato Padrão </th>
              <th>Contato Email </th>
              <th>Status </th>
              <th>Observação </th>
              <th>Confirmar Contato </th>
             
          </tr>
      </thead>

      <tbody>

          {% for cliente in clientes %}

            {%if cliente.data_nascimento|checkNiverPassou%}
              <tr>
                <td class="text-center">
        
                   {{cliente.nickname|checkValusForNiver|safe}}
                </td>
                <td><a href="/clientes/atualizar-cliente/{{cliente.id}}?next=/clientes/meus-clientes" >{{cliente.nickname}}</a></td>
                <td>{{cliente.nickname|get_cliente_nomeTesteOne}} </td>
                <td >{{cliente.data_nascimento|date:'d/m'}}
                    {% if cliente.data_nascimento|isNiverToday %}
                    <i class="fal fa-gift text-primary"></i>
                    {%endif%}
                </td>
                <td class="text-center">{{cliente.data_nascimento|calcIdade}}</td>
                <td>
                    

                    <a style="color:#25D366; text-decoration: none" href="https://api.whatsapp.com/send?phone={{cliente.nickname|getzapClean}}&amp;text={{ saldacao }}, {{ cliente.nickname|get_cliente_first_nome|split:' '|first  }}" target="_blank" rel="noopener">{{cliente.nickname|getzap}}</a>
                    

                </td>
                <td></td>
                <td></td>
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
               
              </tr>
              {%endif%}


          {% endfor %}

      </tbody>

  </table>
</div>

