{% load static %}
{% load filter_tags %}

<div class="tab-pane fade table-responsive" id="saldo-positivo" role="tabpanel">
  <table id="positivos" class="table table-bordered table-hover table-striped w-100 table-sm allTables">

    <thead>
        <tr>
            <th>Alerta</th>
            <th>Código</th>
            <th>Nome</th>
            <th>D0</th>
            <th>D1</th>
            <th>D2</th>
            <th>D3</th>
            <th>D4</th>
            <th>WhatsApp</th>
            <th>Primeiro Contato</th>
            <th>Contato Padrão </th>
            <th>Contato Email </th>
            <th>Status </th>
            <th>Observação </th>
            <th>Confirmar Contato </th>
            

        </tr>
    </thead>
    <tbody>
        {%for cliente in positivos%}
        <tr>
            <td nowrap class="text-center">{{cliente.alerta|safe}}</td>
            <td nowrap>
              <a href="{% url 'clients:nw-update-client' cliente.id %}?next=/clientes/meus-clientes" >{{cliente.codigo}}</a>
            </td>
            <td nowrap>{{cliente.codigo|get_cliente_nomeTesteOne}} </td>
            <td nowrap>
                {%if cliente.d0 > 0%}
                  <span class="text-info">R$ {{cliente.d0|CashConvert}} </span>
                {%elif cliente.d0 < 0%}
                  <span class="text-danger">R$ {{cliente.d0|CashConvert}} </span>
                {%else%}
                  R$ {{cliente.d0|CashConvert}} 
                {%endif%}
            </td>
            <td nowrap>
                {%if cliente.d1 > 0%}
                  <span class="text-info">R$ {{cliente.d1|CashConvert}} </span>
                {%elif cliente.d1 < 0%}
                  <span class="text-danger">R$ {{cliente.d1|CashConvert}} </span>
                {%else%}
                  R$ {{cliente.d1|CashConvert}} 
                {%endif%}

                
            </td>
            <td nowrap>
                {%if cliente.d2 > 0%}
                  <span class="text-info">R$ {{cliente.d2|CashConvert}} </span>
                {%elif cliente.d2 < 0%}
                  <span class="text-danger">R$ {{cliente.d2|CashConvert}} </span>
                  {%else%}
                  R$ {{cliente.d2|CashConvert}} 
                {%endif%}
               
            </td>
            <td nowrap>
                {%if cliente.d3 > 0%}
                  <span class="text-info">R$ {{cliente.d3|CashConvert}} </span>
                {%elif cliente.d3 < 0%}
                  <span class="text-danger">R$ {{cliente.d3|CashConvert}} </span>
                  {%else%}
                  R$ {{cliente.d3|CashConvert}} 
                {%endif%}
               
            </td>
            <td nowrap>
                {%if cliente.d4 > 0%}
                  <span class="text-info">R$ {{cliente.d4|CashConvert}} </span>
                {%elif cliente.d4 < 0%}
                  <span class="text-danger">R$ {{cliente.d4|CashConvert}} </span>
                  {%else%}
                  R$ {{cliente.d4|CashConvert}} 
                {%endif%}
               
            </td>
            <td>{{cliente.WhatsApp|safe}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          
        </tr>
        {%endfor%}
    </tbody>

</table>
</div>