{% load static %}
{% load filter_tags %}
<div class=" table-responsive" >

  
  <table id='example' class="table table-bordered table-hover table-striped w-100 table-sm allTables ">
    <thead>
        <tr>
            <th>Alerta</th>
            <th>Cliente</th>
            <th>Nome</th>
            <th>Ativo</th>
            <th>Vencimento</th>   
            <th>Financeiro</th>
            <th>Dt_Aplicacao</th>
            <th>Qtd</th>
            <th>PU_Atual</th>
            <th>WhatsApp</th>
            <th>Primeiro Contato</th>
            <th>Contato Padrão </th>
            <th>Contato Email </th>
            <th>Status </th>
            <th>Observação </th>
            <th>Confirmar Contato </th>
           
        </tr>

    </thead>
    <tbody>

        {%for value in vencimento%}
        <tr>
            <td class="text-center">{{value.alerta|safe}}</td>
            <td class="tableFiltered">
                <a href="/clientes/atualizar-cliente/{{value.id}}?next=/clientes/meus-clientes" >{{value.codeCliente}}</a>
                
            </td>
            <td class="tableFiltered">{{value.codeCliente|get_cliente_nomeTesteOne}}</td>
            <td class="tableFiltered" nowrap>{{value.ativo|safe}}</td>
            <td class="tableFiltered">{{value.vencimento|safe}}</td>
            <td class="tableFiltered">{{value.financeiro|safe}}</td>
            <td class="tableFiltered">{{value.Dt_Aplicacao|safe}}</td>
            <td class="tableFiltered">{{value.Qtd|safe}}</td>
            <td class="tableFiltered">{{value.PU_Atual|safe}}</td>
            <td class="tableFiltered">{{value.WhatsApp|safe}}</td>
            <td class="text-center">
                <a onclick="regitraAtividadeVenRF('Primeiro Contato', '{{value.codeCliente}}')" style="color:#25D366; text-decoration: none" class="btn btn-dark btn-sm btn-icon waves-effect waves-themed" href="https://api.whatsapp.com/send?phone=5532991818998&amp;text={{saldacao}}, {{value.nome}}.%0D{{value.primeiroContato}}%0D%0D{{value.todosAtivos|replacePontoVirgula}}" target="_blank" rel="noopener">
                    <i class="fal fa-paper-plane"></i>
                </a>

            </td>
            <td class="text-center tableFiltered">

                <a onclick="regitraAtividadeVenRF('Contato Padrão', '{{value.codeCliente}}')" style="color:#25D366; text-decoration: none" class="btn btn-dark btn-sm btn-icon waves-effect waves-themed" href="https://api.whatsapp.com/send?phone=5532991818998&amp;text={{saldacao}}, {{value.nome}}.%0D{{value.contatoPadrao}}%0D%0D{{value.todosAtivos|replacePontoVirgula}}" target="_blank" rel="noopener">
                    <i class="fal fa-paper-plane"></i>
                </a>

            </td>

            <td class="text-center tableFiltered">
                <a href="javascript:void(0);" class="btn btn-info btn-sm btn-icon waves-effect waves-themed">
                    <i class="fal fa-envelope"></i>
                </a>
            </td>

            <td id="tdID_{{value.codeCliente}}" class="text-center tableFiltered">
                {{value.codeCliente|lastAction|safe}}
            </td>

            <td>
            </td>

            <td class="text-center tableFiltered">
                <a href="javascript:void(0);" class="btn btn-success btn-sm btn-icon waves-effect waves-themed">
                    <i class="fal fa-check"></i>
                </a>
            </td>
   

        </tr>
        {%endfor%}
    </tbody>
   

</table>


</div>



 