{% load static %}
{% load filter_tags %}
<div class="tab-pane fade" id="vencimentorf" role="tabpanel">
  
  <table id='dt-basic-example' class='table table-bordered m-0'>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Nome</th>
            <th>Ativo</th>
            <th>Vencimento</th>   
            <th>Financeiro</th>
            <th>Dt_Aplicacao</th>
            <th>Qtd</th>
            <th>PU_Atual</th>
            <th>WhatsApp</th>
            <th >Primeiro Contato</th>
            <th >Contato Padrão</th>
            <th >Contato Email</th>
            <th >Confirmar Contato</th>
           
          

        </tr>
    </thead>
    <tbody>
    {% for ven in vencimento %}
      {%if ven.Cliente != ''%}
        <tr>
            <td>{{ven.Cliente}}</td>
            <td>{{ven.Cliente|get_cliente_nomeTesteOne}}</td>
            <td nowrap >{{ven.Ativo|splitVencimento|safe}}</td>
            <td nowrap>{{ven.Vencimento|splitVencimento|safe}}</td>
            <td nowrap>{{ven.Financeiro|splitVencimentoCash|safe}}</td>
            <td>{{ven.Dt_Aplicacao|splitVencimento|safe}}</td>
            <td>{{ven.Qtd|splitVencimento|safe}}</td>
            <td nowrap>{{ven.PU_Atual|splitVencimentoCash|safe}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% comment %} <td>{{ven.Cliente|getTelefoneCliente}}</td> {% endcomment %}
           
        </tr>
        {%endif%}
    {% endfor %}
    </tbody>

</table>


</div>