<tbody>
  {% for ven in vencimento %}
    {%if ven.Cliente != ''%}
      <tr>
          <td>
            

           {%if ven.Cliente|checkAlertVenRF != ''%}
            
            <a data-original-title="Outras Tarefas" data-content="{{ven.Cliente|checkAlertVenRF|safe}}" href="javascript:void(0);" data-trigger="hover" data-placement="top" data-animation="true" class="btn btn-warning btn-sm btn-icon waves-effect waves-themed Mypopover">
              <i class="fal fa-exclamation-triangle"></i>
            </a>
            {%endif%}
          </td>
          <td>{{ven.Cliente}}</td>
          <td>{{ven.Cliente|get_cliente_nomeTesteOne}}</td>
          <td nowrap >{{ven.Ativo|splitVencimento|safe}}</td>
          <td nowrap>{{ven.Vencimento|splitVencimento|safe}}</td>
          <td nowrap>{{ven.Financeiro|splitVencimento|safe}}</td>
          <td>{{ven.Dt_Aplicacao|splitVencimento|safe}}</td>
          <td>{{ven.Qtd|splitVencimento|safe}}</td>
          <td nowrap>{{ven.PU_Atual|testetuple|splitVencimentoCash|safe}}</td>
          <td>
            {% if ven.Cliente|getzap  == '0' %}
              <span class="text-danger" style="font-size:10px">Contato sem telefone registrado</span>
            {%else%}
            <a style="color:#25D366; text-decoration: none;font-size:10px" href="https://api.whatsapp.com/send?phone={{ven.Cliente|getTelefoneCliente}}" target="_blank" rel="noopener">{{ven.Cliente|getzap}}</a>
            {%endif%}
          </td>
          <td class="text-center">
            {% if ven.Cliente|getzap  == '0' %}
              <span class="text-danger" style="font-size:10px"> -------- </span>
            {%else%}

            <a onclick="regitraAtividadeVenRF('Primeiro Contato', '{{ven.Cliente}}')" style="color:#25D366; text-decoration: none" class="btn btn-dark btn-sm btn-icon waves-effect waves-themed" href="https://api.whatsapp.com/send?phone=5532991818998&amp;text={{saldacao}}, {{ven.Cliente|get_cliente_nomeTesteOne}}. Como vai?%0D {{ ven.mens|primeiroContato }}%0D%0D{{ven.mensformat|testetuple|splitVencimentoTEXT}}" target="_blank" rel="noopener">
              <i class="fal fa-paper-plane"></i>
            </a>
            {%endif%}
          </td>
           
          <td class="text-center">
            {% if ven.Cliente|getzap  == '0' %}
              <span class="text-danger" style="font-size:10px"> -------- </span>
            {%else%}
            <a onclick="regitraAtividadeVenRF('Contato Padrão', '{{ven.Cliente}}')" style="color:#25D366; text-decoration: none" class="btn btn-dark btn-sm btn-icon waves-effect waves-themed" href="https://api.whatsapp.com/send?phone=5532991818998&amp;text={{saldacao}}, {{ven.Cliente|get_cliente_nomeTesteOne}}. Como vai?%0D {{ ven.mens|contatoPadrao }}%0D%0D{{ven.mensformat|testetuple|splitVencimentoTEXT}}" target="_blank" rel="noopener">
              <i class="fal fa-paper-plane"></i>
            </a>
            {%endif%}
            
          </td>
          <td class="text-center">
            <a href="javascript:void(0);" class="btn btn-info btn-sm btn-icon waves-effect waves-themed">
              <i class="fal fa-envelope"></i>
          </a>
          </td>
          <td id='tdID_{{ven.Cliente}}'>
            {{ven.Cliente|lastAction|safe}}
          </td>
          <td class="text-center">
            <a href="javascript:void(0);" class="btn btn-success btn-sm btn-icon waves-effect waves-themed">
              <i class="fal fa-check"></i>
          </a>
          </td>
          {% comment %} <td>{{ven.Cliente|getTelefoneCliente}}</td> {% endcomment %}
         
      </tr>
      {%endif%}
  {% endfor %}
  </tbody>