{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
{% load crispy_forms_tags %}


<!-- BEGIN page Style -->
{% block style %}
     {% include './css/css.html' %}

{% endblock %}
<!-- END page Style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}
{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}

<div id="js-page-content-demopanels">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Lista de Destaques <span class="fw-300"><i></i></span>
                </h2>
               
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 table-sm">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Assessor</th>
                                <th>AC</th>
                                <th>Ativo</th>
                                <th>Emissor</th>
                                <th>Indexador</th>
                                <th>Dt_Aplicacao</th>
                                <th>Vencimento</th>
                                <th>Carencia</th>
                                <th>Qtd</th>
                                <th>PU_Atual</th>
                                <th>Financeiro</th>
                              

                            </tr>
                        </thead>
                        <tbody>
                        {% for destaque in destaques %}
                            <tr>
                              

                                <td>{{ destaque.Cliente }}</td>
                                <td>{{ destaque.Assessor }}</td>
                                <td>{{ destaque.AC }}</td>
                                <td>{{ destaque.Ativo }}</td>
                                <td>{{ destaque.Emissor }}</td>
                                <td>{{ destaque.Indexador }}</td>
                                <td>{{ destaque.Dt_Aplicacao }}</td>
                                <td>{{ destaque.Vencimento }}</td>
                                <td>{{ destaque.Carencia }}</td>
                                <td>{{ destaque.Qtd }}</td>
                                <td>{{ destaque.PU_Atual }}</td>
                                <td>{{ destaque.Financeiro }}</td>
                               
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}

    {% include './js/js.html' %}

{% endblock %}
<!-- END page script -->


