{% load static %}
{% load filter_tags %}

<div class="tab-pane fade show active" id="tab_default-2" role="tabpanel">
  <table id="novos" class="table table-bordered table-hover table-striped w-100 table-sm">

      <thead>
          <tr>
              <th>Código</th>
              <th>Primeiro Nome</th>
              <th>Completo Nome</th>
              <th>Sexo</th>
              <th>E-mail</th>
              <th>Telefone</th>
              <th>Nascimento</th>
              <th>Rotina</th>
              <th>Atualizar</th>
          </tr>
      </thead>

      <tbody>

          {% for cliente in clientes %}

            {% if cliente.assessor|str_val == request.user.codigo|str_val and cliente.novo == 1  %}
              <tr>
                  <form method="post" action="{% url 'clients:update_cliente_novo' %}">

                      {% csrf_token %}
                      
                      
                      <input  hidden value="1" name="novo">
                      <input  hidden value="0" name="troca">

                      <td class="text-center"><span style="margin-top: 150px">{{ cliente.codigo }}</span> <input  hidden value="{{ cliente.codigo }}" name="codigo"></td>
                      <td><input   type="text" class="form-control" name="primeiro_nome" value="{{ cliente.primeiro_nome}}" required></td>
                      <td><input   type="text" class="form-control" name="nome_completo" value="{{ cliente.nome_completo}}" required></td>
                      <td>
                          <select class="form-control" name="sexo" required>
                              <option value="">Definir</option>
                              <option value="M" {% if cliente.sexo == 'M' %} selected {% endif %}>M</option>
                              <option value="F" {% if cliente.sexo == 'F' %} selected {% endif %}>F</option>
                          </select>
                      </td>
                      <td><input type="email" class="form-control" name="email" value="{{ cliente.email|default:'' }}" required></td>
                      <td><input type="text" class="form-control" name="telefone"  value="{{ cliente.telefone|default:'' }}" required></td>
                      <td>
                      <input type="date" class="form-control" name="data_nascimento"  required>
                      </td>
                      <td class="text-center">
                          <input type="checkbox" style="margin-top: 15px" name="rotina" value="1" checked>
                      </td>
                      <td><button type="submit" class="btn btn-sm btn-warning" value="">Atualizar</button></td>
                  </form>
              </tr>
            {%endif%}

          {% endfor %}

      </tbody>

  </table>
</div>