{% load static %}
{% load filter_tags %}

<div class="tab-pane fade" id="tab_default-9" role="tabpanel">

  <table id="dt-basic-example9" class="table table-bordered table-hover table-striped w-100 table-sm" >

      <thead>
          <tr class="text-center">
              <th style="white-space:nowrap;" rowspan="2">Código</th>
              <th style="white-space:nowrap;" rowspan="2">Nome</th>
              <th style="white-space:nowrap;" rowspan="2">Email <br> OnBoarding</th>
              <th style="white-space:nowrap;" rowspan="2">Frequência <br> de Contato</th>
              <th style="white-space:nowrap;" rowspan="2">Perfil <br> Preenchido</th>
              <th style="white-space:nowrap;" rowspan="2">Meio <br> de Contato</th>
              <th style="white-space:nowrap;" rowspan="2">Acomp. <br> Permanente</th>
              <th >Questionário</th>
              <th style="white-space:nowrap;" rowspan="2">Sugestão <br> Enviada </th>
              <th style="white-space:nowrap;" rowspan="2">Sugestão <br> Alocada</th>
              <th class="phone" rowspan="2">Observação</th>
              <th class="phone" rowspan="2">Concluir Rotina</th>
          </tr>
          
      </thead>

      <tbody>

        {% for cliente in rotina %}

      {% if cliente.rotina == 1 %}

          <tr id="row_id_{{ cliente.cod_cliente }}">
              <td>{{ cliente.cod_cliente }}</td>
              <td>{{ cliente.primeiro_nome }}</td>

              <td class='text-center'> 
                  <a href="javascript:void(0);" class="btn btn-default btn-sm btn-icon waves-effect waves-themed thisButton" >
                      <i class="fal fa-times"></i>
                  </a>
              </td>
              

              <td>
                  <select class="form-control" id="frequencia_contato"  name="frequencia_contato"  onchange="updateOnbording('{{ cliente.cod_cliente }}','frequenciaContato', this)">
                      <option value="Não Definido" {%if cliente.frequencia_contato == "Não Definido"%} selected{%endif%}>Não Definido</option>
                      <option value="1 mes" {%if cliente.frequencia_contato == "1 mes"%} selected{%endif%}>1 mes</option>
                      <option value="3 meses" {%if cliente.frequencia_contato == "3 meses"%} selected{%endif%}>3 meses</option>
                      <option value="6 meses" {%if cliente.frequencia_contato == "6 meses"%} selected{%endif%}>6 meses</option>
                      <option value="12 meses" {%if cliente.frequencia_contato == "12 meses"%} selected{%endif%}>12 meses</option>
                  </select>
              </td>

              <td class="text-center">
                  <a href="javascript:void(0);" class="btn {%if cliente.id|check_preenchido == 'vazio'%} btn-default {%else%} btn-success {%endif%} btn-sm btn-icon waves-effect waves-themed thisButton" onclick="updateOnbording('{{ cliente.cod_cliente }}','perfilPreenchido', 1)">
                      {%if cliente.id|check_preenchido == 'vazio'%}
                      <i class="fal fa-times"></i>
                      {%else%}
                      <i class="fal fa-check"></i>
                      {%endif%}
                  </a>
              </td>

              <td>
                  <select id="zap_mail" class="form-control" name="zap_mail" required onchange="updateOnbording('{{ cliente.cod_cliente }}','meioDeContato', this)">
                      <option value="Não Definido" {% if cliente.meio_contato == 'Não Definido' %} selected {% endif %}>Não Definido</option>
                      <option value="WhatsApp" {% if cliente.meio_contato == 'WhatsApp' %} selected {% endif %}>WhatsApp</option>
                      <option value="Telefone" {% if cliente.meio_contato == 'Telefone' %} selected {% endif %}>Telefone</option>
                      <option value="Email" {% if cliente.meio_contato == 'Email' %} selected {% endif %}>Email</option>
                  </select>
              </td>

              <td class="text-center">
                  <a href="javascript:void(0);" class="btn {%if cliente.acomp_permanente == False %}btn-default{%else%}btn-success{%endif%} btn-sm btn-icon waves-effect waves-themed thisButtonToggle btnFalse" onclick="updateOnbording('{{ cliente.cod_cliente }}','acompanhamentoPermanente', 1)">
                      {%if cliente.acomp_permanente == False %}
                      <i class="fal fa-times"></i>
                      {%else%}
                      <i class="fal fa-check"></i>
                      {%endif%}
                  </a>
                  </a>
              </td>

              <td class="text-center">
                <button onclick="getClientcode('{{ cliente.cod_cliente }}')" type="button" class="btn btn-default" data-toggle="modal" data-target="#questionario-modal">Questionário</button>
              </td>
              
              <td class="text-center">
                  <a href="javascript:void(0);" class="btn {%if cliente.id|check_sugestao == 'vazio'%} btn-default{%else%} btn-success {%endif%} btn-sm btn-icon waves-effect waves-themed thisButton btnFalse" onclick="updateOnbording('{{ cliente.cod_cliente }}','sugestao', 1)">
                      {%if cliente.id|check_sugestao == 'vazio' %}
                      <i class="fal fa-times"></i>
                      {%else%}
                      <i class="fal fa-check"></i>
                      {%endif%}
                  </a>
              </td>

              <td class="text-center">
                  <a href="javascript:void(0);" class="btn {%if cliente.id|check_alocacao == 'vazio'%} btn-default{%else%} btn-success {%endif%} btn-sm btn-icon waves-effect waves-themed thisButton btnFalse" onclick="updateOnbording('{{ cliente.cod_cliente }}','alocacao', 1)">
                      {%if cliente.id|check_alocacao == 'vazio'%}
                      <i class="fal fa-times"></i>
                      {%else%}
                      <i class="fal fa-check"></i>
                      {%endif%}
                  </a>
              </td>

              <td class="text-center"> 
                  <button id="addobserva" class="btn btn-sm btn-default" data-toggle="modal" data-target="#default-example-modal" onclick="obsOpen('{{ cliente.id }}', '{{ cliente.onbording_obs }}')">Adicionar</button> &nbsp; {{ cliente.onbording_obs|default:'' }} 
              </td>

              <td>
                    <button class="btn btn-success btn-sm js-sweetalert2-example-7" onclick="rotinaDone('{{cliente.cod_cliente}}')">Concluir</button>
              </td>
              
          </tr>

          {%endif%}

        {% endfor %}

      </tbody>

  </table>

</div>

<div class="modal fade" id="questionario-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Questionário Rotina Onboarding
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <form id="formQuest">
                <div class="modal-body">
                    
                        {% csrf_token %}
                        {% comment %} --------MOSTRA PRA TODOS-------- {% endcomment %}
                        <div class="container px-5 my-5">
                            <div class="mb-3">
                                <label class="form-label" for="codigoDeCliente">Código do cliente</label>
                                <input class="form-control"  id="fakecode" type="text" disabled />

                                <input hidden name="codigoDeCliente" id="codigoDeCliente" type="text"/>
                            
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Possui participação societária em alguma empresa?</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="partSociedadeSim" type="radio" name="possuiParticipacaoSocietariaEmAlgumaEmpresa" value='1'/>
                                    <label class="form-check-label" for="partSociedadeSim">Sim</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="partSociedadeNao" type="radio" name="possuiParticipacaoSocietariaEmAlgumaEmpresa" value="0"/>
                                    <label class="form-check-label" for="partSociedadeNao">Não</label>
                                </div>
                            </div>
                        </div>

                        {% comment %} mostrar caso seja SIM {% endcomment %}
                        <div id="participacaoSocietariaSim" style="border:1px solid #2c3e50; padding:20px" class="container px-5 my-5 escondido">

                            <div class="mb-3">
                                <label class="form-label" for="qualONomeDaEmpresa">Qual o nome da empresa?</label>
                                <input  class="form-control" name="qualONomeDaEmpresa" id="qualONomeDaEmpresa" type="text" placeholder="Qual o nome da empresa?" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Qual faturamento médio anual da empresa?</label>
                                <div class="form-check">
                                    <input class="form-check-input" id="acimaDe100MilhoesR" type="radio" name="qualFaturamentoMedioAnualDaEmpresa" value="1"/>
                                    <label class="form-check-label" for="acimaDe100MilhoesR">Acima de 100 milhões (R$)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="de50A100MilhoesR" type="radio" name="qualFaturamentoMedioAnualDaEmpresa" value="2"/>
                                    <label class="form-check-label" for="de50A100MilhoesR">De 50 a 100 milhões (R$)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="de10A50MilhoesR" type="radio" name="qualFaturamentoMedioAnualDaEmpresa" value="3"/>
                                    <label class="form-check-label" for="de10A50MilhoesR">De 10 a 50 milhões (R$)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="de5A10MilhoesR" type="radio" name="qualFaturamentoMedioAnualDaEmpresa" value="4"/>
                                    <label class="form-check-label" for="de5A10MilhoesR">De 5 a 10 milhões (R$)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="ate5MilhoesR" type="radio" name="qualFaturamentoMedioAnualDaEmpresa" value="5"/>
                                    <label class="form-check-label" for="ate5MilhoesR">Até 5 milhões (R$)</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Empresa possui seguro de vida em grupo?</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="SeguroSim" type="radio" name="empresaPossuiSeguroDeVidaEmGrupo" value="1" />
                                    <label class="form-check-label" for="SeguroSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="SeguroNao" type="radio" name="empresaPossuiSeguroDeVidaEmGrupo" value="0"/>
                                    <label class="form-check-label" for="SeguroNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Empresa possui plano de saúde para funcionários?</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="planoSim" type="radio" name="empresaPossuiPlanoDeSaudeParaFuncionarios" value="1"/>
                                    <label class="form-check-label" for="planoSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="planoNao" type="radio" name="empresaPossuiPlanoDeSaudeParaFuncionarios" value="0" />
                                    <label class="form-check-label" for="planoNao">Não</label>
                                </div>
                            </div>
                            
                
                        </div>

                        {% comment %} --------MOSTRA PRA TODOS-------- {% endcomment %}
                        <div class="container px-5 my-5">
                            <div class="mb-3">
                                <label class="form-label d-block">O SEU plano de saúde é através de?</label>
                                <div class="form-check">
                                    <input class="form-check-input" id="pessoaFisica" type="radio" name="oSeuPlanoDeSaudeEAtravesDe" value="1"/>
                                    <label class="form-check-label" for="pessoaFisica">Pessoa Física</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="pessoaJuridica" type="radio" name="oSeuPlanoDeSaudeEAtravesDe" value="2"/>
                                    <label class="form-check-label" for="pessoaJuridica">Pessoa Jurídica</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="naoPossui" type="radio" name="oSeuPlanoDeSaudeEAtravesDe" value="0"/>
                                    <label class="form-check-label" for="naoPossui">Não possui</label>
                                </div>
                            </div> 
                        </div>

                        {% comment %} Mostrar caso seja PESSOA FISICA - JURIDICA {% endcomment %}
                        <div id="pessoaFisicaJuridica" style="border:1px solid #2c3e50; padding:20px" class="container px-5 my-5 escondido">
                            <div class="mb-3">
                                <label class="form-label" for="quantasVidasEstaoCobertasPeloSeuPlano">Quantas vidas estão cobertas pelo seu plano?</label>
                                <input class="form-control" name="quantasVidasEstaoCobertasPeloSeuPlano" id="quantasVidasEstaoCobertasPeloSeuPlano" type="num" placeholder="Quantas vidas estão cobertas pelo seu plano?" />
                            </div>
                            
                        </div>

                        {% comment %} --------MOSTRA PRA TODOS-------- {% endcomment %}
                        <div class="container px-5 my-5">
                            <div class="mb-3">
                                <label class="form-label d-block">Possui alguma estratégia de proteção patrimonial?</label>
                                <div class="form-check">
                                    <input class="form-check-input classCondition" id="holdingPatrimonial" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Holding Patrimonial" />
                                    <label class="form-check-label" for="holdingPatrimonial">Holding Patrimonial</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input classCondition" id="holdingImobiliaria" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Holding Imobiliária" />
                                    <label class="form-check-label" for="holdingImobiliaria">Holding Imobiliária</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input classCondition" id="previdencia" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Previdência" />
                                    <label class="form-check-label" for="previdencia">Previdência</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input classCondition" id="seguroDeVida" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Seguro de Vida" />
                                    <label class="form-check-label" for="seguroDeVida">Seguro de Vida</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input classCondition" id="offshore" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Offshore" />
                                    <label class="form-check-label" for="offshore">Offshore</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="nenhuma" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Nenhuma" />
                                    <label class="form-check-label" for="nenhuma">Nenhuma</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input classCondition" id="outro" type="checkbox" name="possuiAlgumaEstrategiaDeProtecaoPatrimonial" value="Outro" />
                                    <label class="form-check-label" for="outro">Outro</label>
                                </div>
                                <input hidden id="estrategiaProtecaoPatrimonialToGo" name="estrategiaProtecaoPatrimonialToGo">
                            </div>
                        </div>

                        {% comment %} mostrar caso seja OUTRO {% endcomment %}
                        <div id="protecaoPatrimonialOutro" style="border:1px solid #2c3e50; padding:20px;display:none"  class="container px-5 my-5">
                            
                            <div class="mb-3">
                                <label class="form-label" for="qualEstrategia">Qual estratégia?</label>
                                <input class="form-control" name="qualEstrategia" id="qualEstrategia" type="text" placeholder="Qual estratégia?" />
                            </div>
                            
                        </div>

                        {% comment %} --------MOSTRA PRA TODOS-------- {% endcomment %}
                        <div class="container px-5 my-5">
                        
                            <div class="mb-3">
                                <label class="form-label d-block">Com que frequência realiza operações de câmbio?</label>
                                <div class="form-check">
                                    <input class="form-check-input" id="naoRealiza" type="radio" name="comQueFrequenciaRealizaOperacoesDeCambio" value="1" />
                                    <label class="form-check-label" for="naoRealiza">Não realiza</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="semanalmente" type="radio" name="comQueFrequenciaRealizaOperacoesDeCambio" value="2" />
                                    <label class="form-check-label" for="semanalmente">Semanalmente</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="quinzenalmente" type="radio" name="comQueFrequenciaRealizaOperacoesDeCambio" value="3" />
                                    <label class="form-check-label" for="quinzenalmente">Quinzenalmente</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="mensalmente" type="radio" name="comQueFrequenciaRealizaOperacoesDeCambio" value="4" />
                                    <label class="form-check-label" for="mensalmente">Mensalmente</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="esporadicamente" type="radio" name="comQueFrequenciaRealizaOperacoesDeCambio" value="5" />
                                    <label class="form-check-label" for="esporadicamente">Esporadicamente</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Possui ou está pensando em contratar crédito imobiliário?</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="creditoSim" type="radio" name="possuiOuEstaPensandoEmContratarCreditoImobiliario"  value="1"/>
                                    <label class="form-check-label" for="creditoSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="creditoNao" type="radio" name="possuiOuEstaPensandoEmContratarCreditoImobiliario" value="0" />
                                    <label class="form-check-label" for="creditoNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Acompanhamento Permanente</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="permaneSim" type="radio" name="acompanhamentoPermanente" value="1"/>
                                    <label class="form-check-label" for="permaneSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="permaneNao" type="radio" name="acompanhamentoPermanente" value="0" />
                                    <label class="form-check-label" for="permaneNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Oportunidades de Renda Fixa</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"  id="rfSim" type="radio" name="oportunidadesDeRendaFixa" value="1" />
                                    <label class="form-check-label" for="rfSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="rfNao"  type="radio" name="oportunidadesDeRendaFixa" value="0" />
                                    <label class="form-check-label" for="rfNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Oportunidades de Fundos de Investimentos</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="investSim" type="radio" name="oportunidadesDeFundosDeInvestimentos" value="1" />
                                    <label class="form-check-label" for="investSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="investNao" type="radio" name="oportunidadesDeFundosDeInvestimentos" value="0" />
                                    <label class="form-check-label" for="investNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Oportunidades de Ações</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="acoesSim" type="radio" name="oportunidadesDeAcoes" value="1" />
                                    <label class="form-check-label" for="acoesSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="acoesNao" type="radio" name="oportunidadesDeAcoes" value="0" />
                                    <label class="form-check-label" for="acoesNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label d-block">Oportunidades de Fundos Imobiliários</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="fiiSim" type="radio" name="oportunidadesDeFundosImobiliarios" value="1" />
                                    <label class="form-check-label" for="fiiSim">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="fiiNao" type="radio" name="oportunidadesDeFundosImobiliarios" value="0" />
                                    <label class="form-check-label" for="fiiNao">Não</label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="sintaSeAVontadeParaDeixarAbaixoSuasCriticasESugestoesDigaNosComoPodemosMelhorarONossoContatoComVoce">Sinta-se à vontade para deixar abaixo suas críticas e sugestões. Diga-nos como podemos melhorar o nosso contato com você.</label>
                                <textarea class="form-control" id="sintaSeAVontadeParaDeixarAbaixoSuasCriticasESugestoesDigaNosComoPodemosMelhorarONossoContatoComVoce" name="sujestao" type="text" placeholder="Sinta-se à vontade para deixar abaixo suas críticas e sugestões.  Diga-nos como podemos melhorar o nosso contato com você." style="height: 10rem;" data-sb-validations=""></textarea>
                            </div>
                        
                    
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit"   class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>