{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}

<!-- BEGIN page Style -->
{% block style %}
     {% include './css/list_view_css.html' %}
{% endblock %}
<!-- END page Style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}

{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}

<div id="js-page-content-demopanels">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Lista de Clientes <span class="fw-300"><i></i></span>
                </h2>
               
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 table-sm">
                        <thead>
                            <tr>
                                <th>Imagem</th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Sexo</th>
                                <th>Telefone</th>
                                <th>E-mail</th>
                                <th>Clientes</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for assessor in assessores %}
                            <tr>
                                <td><img src="{% static 'img/'%}{{ assessor.id|user_image }}" alt="" style="width:30px !important; height:30px !important" class="profile-image rounded-circle" /></td>

                                <td>{{ assessor.codigo }}</td>
                                <td>{{ assessor.first_name }} {{ assessor.last_name }}</td>
                                <td>{{ assessor.sex }}</td>
                                <td>
                                    {% if assessor.telefone == None or '' %}
                                    {% else %}
                                        <a href="" style="color:#1ab34e"> {{ assessor.telefone }}</a>
                                    {% endif %}
                                </td>
                                <td><a href="mailto:{{ assessor.email }}">{{ assessor.email }}</a></td>
                                <td>{{assessor.codigo|getUserNClients}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}

    {% include './js/list_view_js.html' %}

{% endblock %}
<!-- END page script -->


