{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
<!-- BEGIN page style -->
{% block style %}
        {% include './css/css.html' %}
{% endblock %}
<!-- END page style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}
 
{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}
    <div class="row">
    <div class="col-md-3">
        <div class="row">
        {# FORMILÁRIO   #}
            <div class="col-md-12">
            <div id="panel-2" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false"  data-panel-locked="false" data-panel-refresh="false">
                <div class="panel-hdr">
                    <h2>
                        Formulário de Espelhamento <span class="fw-300"><i></i></span>
                    </h2>

                    <div class="panel-toolbar" style="margin-right: 25px">

                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form action="{% url 'clients:mirror-add' %}" method="post"  action="" id="form">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="select2insidemodal" class="">Espelhar meus clientes com:</label>
                                <select class="select2_demo_3 form-control" id="select2insidemodal" name="assessor_permited" style="width:100%" required>
                                    <option value="">Selecione...</option>
                                        {% for usuario in usuarios %}
                                                {% if usuario.id != request.user.id and usuario.id|check_espelho:request.user.id != 'True' %}
                                                        <option value="{{ usuario.id }}">{{ usuario.codigo }} - {{ usuario.first_name }} {{ usuario.last_name }}</option>
                                                {% endif %}
                                        {% endfor %}
                                </select>
                            </div>
                            <button type="submit" id="sendform"  class="btn btn-primary isDisable ladda-button" data-style="expand-right" ><i class="fal fa-line-columns"></i> Espelhar</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-12">
                <div id="panel-1" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false"  data-panel-locked="false" data-panel-refresh="false">

                    <div class="panel-hdr">

                        <h2>
                            Espelharam comigo: <span class="fw-300"><i></i></span>
                            <br>

                        </h2>

                        <div class="panel-toolbar" style="margin-right: 25px">

                        </div>

                    </div>

                    <div class="panel-container show">
                        <div class="panel-content">
                            {% for espelho in espelhamento %}
                                {% if request.user.id ==  espelho.assessor_permited %}
                                    <a href="#" onclick="get_cliente_data({{ espelho.assessor_id|get_assessor_code }})">{{ espelho.assessor_id|get_assessor_ifos }} </a> <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="panel-2" class="panel panel-locked" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false"  data-panel-locked="false" data-panel-refresh="false">
                    <div class="panel-hdr">
                        <h2>
                            Espelhado com:<span class="fw-300"><i></i></span>
                        </h2>
                        <div class="panel-toolbar" style="margin-right: 25px">

                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            {% for espelho in espelhamento %}
                                {% if request.user.id ==  espelho.assessor_id %}
                                    {{ espelho.assessor_permited|get_assessor_ifos }}
                                    <a href="{% url 'clients:mirror-delete' espelho.id %}" style="color:red" class="float-right"><i class="fal fa-trash"></i></a>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div id="panel-3" class="panel">
            <div class="panel-hdr">
                <h2>
                    Lista de Clientes Espelhados :  <span id="responsavel" class="text-success"></span>

                </h2>

                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">
                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="Procurar Cliente ...">
                    <br>

                    <!-- datatable start -->
                    <table id="tabela_cliente" class="table table-sm table-bordered table-hover table-striped w-100 chanhe_id">
                        <thead >
                            <tr>
                                <th>Codigo</th>
                                <th>Cliente</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                            <tbody id="response">


                            </tbody>

                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
    </div>
    {#  ESPELHEI COM  #}


{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}
        {% include './js/js.html' %}
{% endblock %}
<!-- END page script -->