{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- BEGIN page style -->
{% block style %}
    <style>
        .escondido{
            display: none
        }
    </style>
{% endblock %}
<!-- END page style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}
{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}

    <div id="js-page-content-demopanels">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Editar Informaçoões da oferta <span class="fw-300"><i></i></span>{{ ticker }}
                    </h2>
                </div>

                <div class="panel-container show">
                    <div class="panel-content">
                        <form method="post">
                            <div class="row">

                                <div class="col-xl-4">
                                    <H1>Oferta</H1>
                                    <hr>

                                    <div class="shadow p-0 p-sm-1 p-md-2 p-lg-3 p-xl-4 ">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-sm btn-primary waves-effect waves-themed">Cadastrar</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}
{#    {% include './js/create_view_js.html' %}#}
    <script>
        function carregar_data(){
            document.getElementById('id_id_oferta').value = '{{ ticker }}{{ emissor }}'
            $('#div_id_id_oferta').addClass('escondido')
        }
    </script>
{% endblock %}
<!-- END page script -->