{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
{% load crispy_forms_tags %}


<!-- BEGIN page Style -->
{% block style %}
     {% include './css/css.html' %}
    <style>
        .escondido{
            display:none
        }
    </style>
{% endblock %}
<!-- END page Style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}


   

{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}



    <div id="js-page-content-demopanels">
        <div class="col-xl-12">

            <div class="loader"></div>
            <div id="panel-1" class="panel">

                
                <div class="panel-hdr">
                    <h2>
                        Lista de Tarefas <span class="fw-300"><i></i></span>
                    </h2>
                </div>
                  
                <div class="panel-container show">
                    <div class="panel-content">
                       
                        <!-- datatable start -->

                        <div class="demo-v-spacing">

                            <ul class="nav nav-tabs" role="tablist">
                    
                                <li class="nav-item">
                                    <a class="nav-link active fs-xs py-1 px-2" data-toggle="tab" href="#aniversario" role="tab">
                                        <i class="fal fa-gift text-primary"></i>
                                        <span class="hidden-sm-down ml-1">Aniversário  </span>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#vencimentorf" role="tab">
                                        <i class="fal fa-engine-warning text-warning"></i>
                                        <span class="hidden-sm-down ml-1">Vencimento Renda Fixa </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#saldo-negativo" role="tab">
                                        <i class="fal fa-minus-circle text-danger"></i>
                                        <span class="hidden-sm-down ml-1">Saldo Negativo </span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#saldo-positivo" role="tab">
                                        <i class="fal fa-plus-circle text-success"></i>
                                        <span class="hidden-sm-down ml-1">Saldo Positivo </span>
                                    </a>
                                </li>

                                


                            </ul>

                            <div class="tab-content p-3">


                                <div class="text-left">
                                    <a href="javascript:void(0)" onclick="cleanTable()" class="btn btn-sm btn-success">Lipar seleção</a>
                                    <hr>
                                </div>



                               <!-- Aniversario -->
                                {% include './tables/aniversario.html' %}

                                {% include './tables/vencimentorendafixa.html' %}
                                 
                                <!-- positivo -->
                                {% include './tables/saldopositivo.html' %}

                                <!-- negativo-->
                                {% include './tables/saldonegativo.html' %}

                                <!-- Rotina  -->
                                {% comment %} {% include './tables/rotina.html' %}  {% endcomment %}

                              

                            </div>

                        </div>

                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <textarea hidden id="foo">
    {% for contato in contatos %}

        <tr>
            <td>{{ contato.nome|split:' '|first }} {{ contato.nome|split:' '|last }} {{ contato.nickname }}</td>
            <td>{{ contato.telefone }}</td>
        </tr>

    {% endfor %}
    </textarea>

    {# modal observacoes#}
    <div class="modal fade" id="default-example-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Adicionar Observaçao ao usuário
                        {# <small class="m-0 text-muted">#}
                                {# Below is a static modal example#}
                                {#</small>#}
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden id="pegaid">
                    <textarea class="form-control" rows="4" cols="50" id="modl_obs"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="salvarObs()">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'clients/perfil/update_modal/base.html' %}


{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}

    {% include './js/js.html' %}

{% endblock %}
<!-- END page script -->


