{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}

<!-- BEGIN page Style -->
{% block style %}
     {% include './css/list_view_css.html' %}
{% endblock %}
<!-- END page Style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}
{#    <a href="#" type="button" class="btn btn-sm btn-primary">#}
{#        <span class="ni ni-cloud-upload"></span>#}
{#        Upload Clientes#}
{#    </a>#}

    <form method="post" enctype="multipart/form-data" action="{% url 'clients:upload_clientes' %}">
        {% csrf_token %}

        <div class="input-group">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-sm btn-success" id="inputGroupFileAddon01">Upload Clientes</button>
            </div>
            <div class="custom-file">
                <input name="myfile" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                <label class="custom-file-label" for="inputGroupFile01">Selecione o arquivo</label>
            </div>
        </div>

    </form>


    <br>



{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}

<div id="js-page-content-demopanels">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Lista de Clientes <span class="fw-300"><i></i></span>
                    <a href="javascript:void(0);" class="btn btn-outline-danger" id="js-sweetalert2-example-8"><i class="fal fa-engine-warning"></i> Excluir todos os dados!</a>
                </h2>
                <div class="panel-toolbar" style="margin-right: 25px">
                    <button class="btn btn-primary btn-sm" data-toggle="dropdown">Estilo da Tabela</button>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-menu-right position-absolute pos-top">
                        <button class="dropdown-item active" data-action="toggle" data-class="table-bordered" data-target="#dt-basic-example"> Tabela com Bordas </button>
                        <button class="dropdown-item active" data-action="toggle" data-class="table-sm" data-target="#dt-basic-example"> Tabela Menor </button>
                        <button class="dropdown-item" data-action="toggle" data-class="table-dark" data-target="#dt-basic-example"> Tabela Escura </button>
                        <button class="dropdown-item active" data-action="toggle" data-class="table-hover" data-target="#dt-basic-example"> Destacar Linha </button>
                        <button class="dropdown-item active" data-action="toggle" data-class="table-stripe" data-target="#dt-basic-example"> Tabela Listrada </button>
                        <div class="dropdown-divider m-0"></div>
                        <div class="dropdown-multilevel dropdown-multilevel-left">
                            <div class="dropdown-item">
                                Cor do Corpo
                            </div>
                            <div class="dropdown-menu no-transition-delay">
                                <div class="js-tbody-colors dropdown-multilevel dropdown-multilevel-left d-flex flex-wrap" style="width: 15.9rem; padding: 0.5rem">
                                    <a href="javascript:void(0);" data-bg="bg-primary-100" class="btn d-inline-block bg-primary-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-200" class="btn d-inline-block bg-primary-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-300" class="btn d-inline-block bg-primary-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-400" class="btn d-inline-block bg-primary-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-500" class="btn d-inline-block bg-primary-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-600" class="btn d-inline-block bg-primary-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-700" class="btn d-inline-block bg-primary-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-800" class="btn d-inline-block bg-primary-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-900" class="btn d-inline-block bg-primary-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-100" class="btn d-inline-block bg-success-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-200" class="btn d-inline-block bg-success-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-300" class="btn d-inline-block bg-success-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-400" class="btn d-inline-block bg-success-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-500" class="btn d-inline-block bg-success-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-600" class="btn d-inline-block bg-success-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-700" class="btn d-inline-block bg-success-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-800" class="btn d-inline-block bg-success-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-900" class="btn d-inline-block bg-success-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-100" class="btn d-inline-block bg-info-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-200" class="btn d-inline-block bg-info-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-300" class="btn d-inline-block bg-info-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-400" class="btn d-inline-block bg-info-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-500" class="btn d-inline-block bg-info-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-600" class="btn d-inline-block bg-info-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-700" class="btn d-inline-block bg-info-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-800" class="btn d-inline-block bg-info-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-900" class="btn d-inline-block bg-info-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-100" class="btn d-inline-block bg-danger-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-200" class="btn d-inline-block bg-danger-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-300" class="btn d-inline-block bg-danger-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-400" class="btn d-inline-block bg-danger-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-500" class="btn d-inline-block bg-danger-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-600" class="btn d-inline-block bg-danger-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-700" class="btn d-inline-block bg-danger-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-800" class="btn d-inline-block bg-danger-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-900" class="btn d-inline-block bg-danger-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-100" class="btn d-inline-block bg-warning-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-200" class="btn d-inline-block bg-warning-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-300" class="btn d-inline-block bg-warning-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-400" class="btn d-inline-block bg-warning-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-500" class="btn d-inline-block bg-warning-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-600" class="btn d-inline-block bg-warning-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-700" class="btn d-inline-block bg-warning-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-800" class="btn d-inline-block bg-warning-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-900" class="btn d-inline-block bg-warning-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-100" class="btn d-inline-block bg-fusion-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-200" class="btn d-inline-block bg-fusion-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-300" class="btn d-inline-block bg-fusion-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-400" class="btn d-inline-block bg-fusion-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-500" class="btn d-inline-block bg-fusion-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-600" class="btn d-inline-block bg-fusion-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-700" class="btn d-inline-block bg-fusion-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-800" class="btn d-inline-block bg-fusion-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-900" class="btn d-inline-block bg-fusion-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="" class="btn d-inline-block bg-white border width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-multilevel dropdown-multilevel-left">
                            <div class="dropdown-item">
                                Cor do Cabeçalho
                            </div>
                            <div class="dropdown-menu no-transition-delay">
                                <div class="js-thead-colors dropdown-multilevel dropdown-multilevel-left d-flex flex-wrap" style="width: 15.9rem; padding: 0.5rem">
                                    <a href="javascript:void(0);" data-bg="bg-primary-100" class="btn d-inline-block bg-primary-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-200" class="btn d-inline-block bg-primary-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-300" class="btn d-inline-block bg-primary-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-400" class="btn d-inline-block bg-primary-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-500" class="btn d-inline-block bg-primary-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-600" class="btn d-inline-block bg-primary-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-700" class="btn d-inline-block bg-primary-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-800" class="btn d-inline-block bg-primary-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-primary-900" class="btn d-inline-block bg-primary-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-100" class="btn d-inline-block bg-success-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-200" class="btn d-inline-block bg-success-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-300" class="btn d-inline-block bg-success-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-400" class="btn d-inline-block bg-success-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-500" class="btn d-inline-block bg-success-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-600" class="btn d-inline-block bg-success-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-700" class="btn d-inline-block bg-success-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-800" class="btn d-inline-block bg-success-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-success-900" class="btn d-inline-block bg-success-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-100" class="btn d-inline-block bg-info-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-200" class="btn d-inline-block bg-info-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-300" class="btn d-inline-block bg-info-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-400" class="btn d-inline-block bg-info-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-500" class="btn d-inline-block bg-info-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-600" class="btn d-inline-block bg-info-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-700" class="btn d-inline-block bg-info-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-800" class="btn d-inline-block bg-info-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-info-900" class="btn d-inline-block bg-info-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-100" class="btn d-inline-block bg-danger-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-200" class="btn d-inline-block bg-danger-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-300" class="btn d-inline-block bg-danger-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-400" class="btn d-inline-block bg-danger-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-500" class="btn d-inline-block bg-danger-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-600" class="btn d-inline-block bg-danger-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-700" class="btn d-inline-block bg-danger-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-800" class="btn d-inline-block bg-danger-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-danger-900" class="btn d-inline-block bg-danger-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-100" class="btn d-inline-block bg-warning-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-200" class="btn d-inline-block bg-warning-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-300" class="btn d-inline-block bg-warning-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-400" class="btn d-inline-block bg-warning-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-500" class="btn d-inline-block bg-warning-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-600" class="btn d-inline-block bg-warning-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-700" class="btn d-inline-block bg-warning-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-800" class="btn d-inline-block bg-warning-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-warning-900" class="btn d-inline-block bg-warning-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-100" class="btn d-inline-block bg-fusion-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-200" class="btn d-inline-block bg-fusion-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-300" class="btn d-inline-block bg-fusion-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-400" class="btn d-inline-block bg-fusion-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-500" class="btn d-inline-block bg-fusion-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-600" class="btn d-inline-block bg-fusion-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-700" class="btn d-inline-block bg-fusion-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-800" class="btn d-inline-block bg-fusion-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="bg-fusion-900" class="btn d-inline-block bg-fusion-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    <a href="javascript:void(0);" data-bg="" class="btn d-inline-block bg-white border width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">
{#                  <div class="panel-tag">#}
{#                  </div>#}

                <!-- datatable start -->

                <div class="demo-v-spacing">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-0" role="tab">
                                <i class="fal fa-user-friends"></i>
                                <span class="hidden-sm-down ml-1">Todos{% if n_clientes > 0 %} <span class="badge ml-2">{{ n_clientes }}</span> {% endif %}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-1" role="tab">
                                <i class="fal fa-user-check text-success"></i>
                                <span class="hidden-sm-down ml-1">Ativos/Inativos {% if num_clientes_ativos > 0 %} <span class="badge bg-success-300 ml-2">{{ num_clientes_ativos }}</span> {% endif %}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-4" role="tab">
                                <i class="fal fa-user-times text-danger"></i>
                                <span class="hidden-sm-down ml-1">Perdidos {% if n_inativo > 0 %} <span class="badge bg-danger-300 ml-2">{{ n_inativo }}</span> {% endif %}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-2" role="tab">
                                <i class="fal fa-user-plus text-warning"></i>
                                <span class="hidden-sm-down ml-1">Novos  {% if n_novos_clientes > 0 %} <span class="badge bg-warning-300 ml-2">{{ n_novos_clientes }}</span> {% endif %}</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fs-xs py-1 px-2" data-toggle="tab" href="#tab_default-3" role="tab">
                                <i class="fal fa-handshake text-primary"></i>
                                <span class="hidden-sm-down ml-1">Troca de Assessor {% if n_troca_assessor > 0 %} <span class="badge bg-primary-300 ml-2">{{ n_troca_assessor }}</span> {% endif %}</span>
                            </a>
                        </li>


                    </ul>

                    <div class="tab-content p-3">

                        <!-- Todos os clientes -->
                        <div class="tab-pane fade show active" id="tab_default-0" role="tabpanel">
                            <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 table-sm">

                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Sexo</th>
                                        <th>E-mail</th>
                                        <th>Telefone</th>
                                        <th>Assessor</th>
                                        <th>Nascimento</th>
                                        <th>Rotinda</th>
                                        <th>Whats/E-mail</th>

                                    </tr>
                                </thead>

                                <tbody>
                                {% for cliente in clientes %}

                                        <tr>
                                            <td>{{ cliente.nickname }}</td>
                                            <td>{{ cliente.nome|lower|capfirst }}</td>
                                            <td>{{ cliente.sexo }}</td>
                                            <td>{{ cliente.email }}</td>
                                            <td>{{ cliente.telefone }}</td>
                                            <td>{{ cliente.assessor }}</td>
                                            <td>{{ cliente.data_nascimento }}</td>
                                            <td class="text-center">{% if cliente.rotina == '1' %}<i class="fal fa-check"></i>{% endif %}</td>
                                            <td class="text-center">{{ cliente.zap_mail|default:"-" }}</td>
                                        </tr>

                                {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <!-- Clientes Ativos -->
                        <div class="tab-pane fade show" id="tab_default-1" role="tabpanel">
                            <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100 table-sm">

                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Sexo</th>
                                        <th>E-mail</th>
                                        <th>Telefone</th>
                                        <th>Assessor</th>
                                        <th>Nascimento</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for cliente in clientes %}

                                        {% if cliente.status != 'Inativo' %}

                                        <tr >
                                            <td>{{ cliente.nickname }}</td>
                                            <td>{{ cliente.nome|lower|capfirst }}</td>
                                            <td>{{ cliente.sexo }}</td>
                                            <td>{{ cliente.email }}</td>
                                            <td>{{ cliente.telefone }}</td>
                                            <td>{{ cliente.assessor }}</td>
                                            <td>{{ cliente.data_nascimento }}</td>
                                            <td>{{ cliente.data_registro }}</td>
                                        </tr>
                                        {% endif %}

                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <!-- Clientes Inativos -->
                        <div class="tab-pane fade" id="tab_default-4" role="tabpanel">
                            <table id="dt-basic-example4" class="table table-bordered table-hover table-striped w-100 table-sm">

                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Sexo</th>
                                        <th>E-mail</th>
                                        <th>Telefone</th>
                                        <th>Assessor</th>
                                        <th>Nascimento</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for cliente in inativo %}

                                        <tr>
                                            <td>{{ cliente.nickname }}</td>
                                            <td>{{ cliente.nome|lower|capfirst }}</td>
                                            <td>{{ cliente.sexo }}</td>
                                            <td>{{ cliente.email }}</td>
                                            <td>{{ cliente.telefone }}</td>
                                            <td>{{ cliente.assessor }}</td>
                                            <td>{{ cliente.data_nascimento }}</td>
                                            <td>{{ cliente.data_registro }}</td>
                                        </tr>

                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <!-- Novos clientes -->
                        <div class="tab-pane fade" id="tab_default-2" role="tabpanel">
                            <table id="dt-basic-example2" class="table table-bordered table-hover table-striped w-100 table-sm">

                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Sexo</th>
                                        <th>E-mail</th>
                                        <th>Telefone</th>
                                        <th>Nascimento</th>
                                        <th>Rotinda da Mesa</th>
                                        <th>Whats/E-mail</th>
                                        <th>Data</th>
                                        <th>Açoes</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for cliente in clientes %}

                                        {% if cliente.status == 'Novo' %}

                                                <tr>
                                                <form method="post" action="{% url 'clients:update_cliente_novo' %}">
                                                    {% csrf_token %}


                                                    <td class="text-center"><span style="margin-top: 150px">{{ cliente.nickname }}</span> <input  hidden value="{{ cliente.id }}" name="id"></td>
                                                    <td><input   type="text" class="form-control" name="nome" value="{{ cliente.nome|split:' '|first|lower|capfirst }}" required></td>
                                                    <td>
                                                        <select class="form-control" name="sexo" required>
                                                            <option value="">Definir sexo</option>
                                                            <option value="M" {% if cliente.sexo == 'M' %} selected {% endif %}>M</option>
                                                            <option value="F" {% if cliente.sexo == 'F' %} selected {% endif %}>F</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" name="email" value="{{ cliente.email }}" required></td>
                                                    <td><input type="text" class="form-control" name="telefone" value="{{ cliente.telefone }}" required></td>
                                                    <td><input type="text" class="form-control" name="data_nascimento" value="{{ cliente.data_nascimento }}" required></td>
                                                    <td class="text-center"><input type="checkbox" style="margin-top: 15px" name="rotina" value="1"></td>
                                                    <td>
                                                        <select class="form-control" name="zap_mail" required>
                                                            <option value="">WhatsApp/Email</option>
                                                            <option value="WhatsApp" {% if troca.zap_mail == 'WhatsApp' %} selected {% endif %}>WhatsApp</option>
                                                            <option value="Email" {% if troca.zap_mail == 'Email' %} selected {% endif %}>Email</option>
                                                            <option value="Não Definido" {% if troca.zap_mail == 'Não Definido' %} selected {% endif %}>Não Definido</option>
                                                        </select>
                                                    </td>
                                                    <td><button type="submit" class="btn btn-sm btn-warning" value="">Atualizar</button></td>
                                                </form>
                                                </tr>




                                        {% endif %}

                                    {% endfor %}

                                    {% for troca in troca_assessor %}
                                        {{ troca.status }}

                                            {% if troca.assessor == request.user.codigo and troca.status == None %}
                                                <tr>
                                                    <td colspan="7" style="font-weight: bold" class="text-success text-center">Troca de Asessor <i class="fal fa-arrow-down"></i></td>
                                                </tr>

                                                    <tr>
                                                    <form method="post" action="{% url 'clients:update_cliente_novo' %}">
                                                    {% csrf_token %}
                                                        <td>{{ troca.nickname }} <input hidden value="{{ troca.id }}" name="id"></td>
                                                        <td><input type="text" class="form-control" name="nome" value="{{ troca.nome|split:' '|first|lower|capfirst }}" required></td>
                                                        <td>
                                                            <select class="form-control" name="sexo" required>
                                                                <option value="">Definir sexo</option>
                                                                <option value="M" {% if troca.sexo == 'M' %} selected {% endif %}>M</option>
                                                                <option value="F" {% if troca.sexo == 'F' %} selected {% endif %}>F</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" class="form-control" name="email" value="{{ troca.email }}" required></td>
                                                        <td><input type="text" class="form-control" name="telefone" value="{{ troca.telefone }}" required></td>
                                                        <td><input type="date" class="form-control" name="data_nascimento" value="{{ troca.data_nascimento }}" required></td>
                                                        <td>
                                                            <select class="form-control" name="zap_mail" required>
                                                                <option value="">WhatsApp/Email</option>
                                                                <option value="WhatsApp" {% if troca.zap_mail == 'WhatsApp' %} selected {% endif %}>WhatsApp</option>
                                                                <option value="Email" {% if troca.zap_mail == 'Email' %} selected {% endif %}>Email</option>
                                                                <option value="Não Definido" {% if troca.zap_mail == 'Não Definido' %} selected {% endif %}>Não Definido</option>
                                                            </select>
                                                        </td>
                                                        <td><button type="submit" class="btn btn-sm btn-warning" value="">Atualizar</button></td>
                                                    </form>
                                                    </tr>


                                            {% endif %}

                                        {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <!-- Troca de Assessor -->
                        <div class="tab-pane fade" id="tab_default-3" role="tabpanel">
                            <table id="dt-basic-example3" class="table table-bordered table-hover table-striped w-100 table-sm">

                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Sexo</th>
                                        <th>Assessor</th>
                                        <th>Antigo Assessor</th>
                                        <th>Data</th>
                                        <th>Rotinda da Mesa</th>
                                        <th>Whats/E-mail</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for troca in troca_assessor %}

                                        <tr>
                                            <td>{{ troca.nickname }}</td>
                                            <td>{{ troca.nome|lower|capfirst }}</td>
                                            <td>{{ troca.sexo }}</td>
                                            <td>{{ troca.assessor }}</td>
                                            <td>{{ troca.antigo_assessor }}</td>
                                            <td>{{ troca.data_registro }} </td>
                                            <form method="post" action="{% url 'clients:update_troca_assessor' %}">
                                                {% csrf_token %}


                                                <td class="text-center"><input name="id" hidden value="{{ troca.id }}"><input type="checkbox" style="margin-top: 15px" name="rotina" value="1" {% if troca.rotina == '1' %} checked {% endif %}></td>
                                                <td>
                                                    <select class="form-control" name="zap_mail" required>
                                                        <option value="">WhatsApp/E-mail</option>
                                                        <option value="WhatsApp" {% if troca.sexo == 'WhatsApp' %} selected {% endif %}>WhatsApp</option>
                                                        <option value="Email" {% if troca.sexo == 'Email' %} selected {% endif %}>Email</option>
                                                        <option value="Não Definido" {% if troca.sexo == 'Não Definido' %} selected {% endif %}>Não Definido</option>
                                                    </select>
                                                </td>
                                                <td><button type="submit" class="btn btn-sm btn-warning" value="">Atualizar</button></td>
                                            </form>
                                        </tr>

                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>

                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}

    {% include './js/list_view_js.html' %}

{% endblock %}
<!-- END page script -->


