{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
<!-- BEGIN page style -->
{% block style %}
    {% include './css/email_view_css.html' %}

    <style>
    .error{
        color:#ce2323;
    }
    .isDisable {
          {#color: currentColor;#}
          cursor: not-allowed;
          opacity: 0.5;
          text-decoration: none;
          pointer-events: none;
        }
    </style>
{% endblock %}
<!-- END page style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}
{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}
{#<div class="ml-auto">#}
{#    <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary mr-2" id="deletesettingskey-options">Clear settings key</a>#}
{#    <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary mr-2" id="deletepositionkey-options">Clear position key</a>#}
{#    <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger mr-2" data-action="factory-reset">Clear all storage keys</a>#}
{#</div>#}

<div class="row">

{#<button type="button" class="btn btn-" onclick="get_emails_enviados()">tetse</button>#}
    {#  DADOS DA OFERTA  #}
    <div class="col-md-12">
        <div id="panel-1" class="panel panel-locked" data-panel-lock="false" data-panel-close="false"    data-panel-locked="false" data-panel-refresh="false" >
            <div class="panel-hdr">
                <h2>
                    Dados da Oferta <span class="fw-300"><i></i></span>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content" id="dados_da_oferta">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 table-sm">
                        <thead>
                            <tr>
                                    <th>Detalhar</th>

                                    <th>Fundo</th>
                                    <th>Preço</th>
                                    <th>Cotação</th>
                                    <th>Data-base</th>
                                    <th>Pretíodo das Negociações</th>
                                    <th>Preríodo de Preferência</th>
                                    <th>Preríodo de Sobra</th>
                                    <th>Período público</th>
{#                                    <th>Upload</th>#}
                                    <th class="phone">Etapa</th>
                                    <th class="phone">Tipo de Oferta:	</th>
                                    <th class="phone">Preço e Taxa:	</th>
                                    <th class="phone">Data Encerramento:</th>
                                    <th class="phone">Proporção de Preferência:</th>
                                    <th class="phone">Proporção de Sobras:</th>
                                    <th class="phone">Investimento Mínimo:</th>
                                    <th class="phone">Captação Mínima:</th>
                                    <th class="phone">Captação Máxima:</th>
                                    <th class="phone">Coordenador Líder:</th>
                                    <th class="phone">Data de Encerramento:</th>
                                    <th class="phone">Método de Rateio:</th>
                                    <th class="phone">Resultado do Rateio:</th>
                                    <th class="phone">Observações:</th>
                                    <th class="phone">Documentação:</th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr>
                                        <td class="text-center"><i class="ni ni-list fa-2x"></i></td>


                                        <td>
                                            {{ oferta.Fundo }} ({{ oferta.Emissão }} emissão)<br>
                                            <span style="font-size: 10px">{{ oferta.Fundo|takeoff11|grab_fii_name }}</span>
                                       </td>
                                        <td>{{ oferta.PreçoeCotação|split:"Cotação:"|first}}</td>
                                        <td>
                                            {% if oferta.PreçoeCotação|find_negative == 'nada'  %}
                                            {% elif  oferta.PreçoeCotação|find_negative %}
                                                {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|first }}<br>
                                                 <span class="text-danger"> <i class="fal fa-long-arrow-down"></i>  {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|last|replace_close_parent }}</span>
                                            {% else %}
                                                {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|first }}<br>
                                                  <span class="text-success"><i class="fal fa-long-arrow-up"></i>  {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|last|replace_close_parent }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ oferta.Database|dot_to_bar }}</td>
                                        <td>
                                            {{ oferta.PeríododeNegociação|dot_to_bar|ate_trace|safe }}
                                        </td>
                                        <td>{{ oferta.PeríododePreferência|dot_to_bar|ate_trace|liquidacao|safe }}</td>
                                        <td>{{ oferta.PeríododeSobras|dot_to_bar|ate_trace|liquidacao|safe }}</td>
                                        <td>{{ oferta.PeríodoPúblico|dot_to_bar|ate_trace|liquidacao|safe }}</td>
{#                                        <td>#}
{#                                            <a href="#" id="_id-{{ oferta.Fundo }}" onclick="get_ticker('{{ oferta.Fundo }}')" class="btn {{ oferta.Fundo|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">#}
{#                                                <i class="fal fa-cloud-upload"></i>#}
{#                                            </a>#}
{#                                        </td>#}

                                        {# hidden fields #}
                                        <td>{% include './fases.html' %}</td>
                                        <td>{{ oferta.TipodeOferta }}</td>
                                        <td>{{ oferta.PreçoeTaxa }}</td>
                                        <td>{{ oferta.DataEncerramento }}</td>
                                        <td>{{ oferta.ProporçãodePreferência }}</td>
                                        <td>{{ oferta.ProporçãodeSobras }}</td>
                                        <td>{{ oferta.InvestimentoMínimo }}</td>
                                        <td>{{ oferta.CaptaçãoMínima }}</td>
                                        <td>{{ oferta.CaptaçãoMáxima }}</td>
                                        <td>{{ oferta.CoordenadorLíder }}</td>
                                        <td>{{ oferta.DatadeEncerramento }}</td>
                                        <td>{{ oferta.MétododeRateio }}</td>
                                        <td>{{ oferta.ResultadodoRateio }}</td>
                                        <td>{{ oferta.Observações }}</td>
                                       <td> {{ oferta.Documentação|replace_documentacao|safe }}</td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# LISTA DE CLIENTES  #}
    <div class="col-md-12">
        <div id="panel-4" class="panel panel-locked" data-panel-lock="false" data-panel-close="false"    data-panel-locked="false" data-panel-refresh="false" >
            <div class="panel-hdr">
                <h2>
                    Lista de clientes vinculados a esta oferta <span class="fw-300"><i></i></span>
                </h2>

            </div>
            <div class="panel-container show">


                <div class="panel-content">

                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="Procurar...">
                    <p class="m-0">
                        Clientes espelhados com você: <i class="fas fa-wifi-1 text-danger fa-3x "> </i>
                    </p>


                    <table id="ceo" class="sortable table table-bordered table-hover table-striped w-100 table-sm" data-s>
                        <thead>
                            <tr>
                                <th>E-mail</th>
                                <th>Assessor</th>
                                <th>Cod. Cliente</th>
                                <th>Nome Cliente</th>
                                <th>Qtd. de Cotas</th>
                                <th>Valor Financeiro</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody id="tablemail">
                            {% for cliente in clientes %}
                                {{request.user.id|str_val }}

                                {% if request.user.id|str_val == cliente.CodAssessor|get_assessor_id|str_val or cliente.CodAssessor|get_assessor_id|check_espelhamento_fii:request.user.id == 'True' %}
                                    <tr class="item">
                                        <td class="text-center">
                                            <a href="" onclick="get_values('{{ request.user.id }}','{{ cliente.CodAssessor|get_assessor_id }}','{{ cliente.CodigoCliente|get_cliente_first_nome|title }}','{{ cliente.CodigoCliente }}', '{{ cliente.QuantidadeDisponivel }}', '{{ oferta.PreçoeCotação|split:"Cotação:"|first|calc_val_financeiro:cliente.QuantidadeDisponivel|moeda }}','{{ request.user.id|get_user_fii_data }}','{{ cliente.CodAssessor }} - {{ cliente.CodAssessor|get_assessor_fii_data }}')" data-toggle="modal" data-target=".default-example-modal-left-lg"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                        </td>
                                        <td>
                                            {% if cliente.CodAssessor|get_assessor_id != request.user.id|str_val %}
                                                <span class="text-danger">{{ cliente.CodAssessor }} - <small>{{ cliente.CodAssessor|get_assessor_fii_data }}</small></span>
                                            {% else %}
                                                {{ cliente.CodAssessor }} - <small>{{ cliente.CodAssessor|get_assessor_fii_data }}</small>
                                            {% endif %}
                                        </td>
                                        <td>{{ cliente.CodigoCliente }}</td>
                                        <td>{{ cliente.CodigoCliente|get_cliente_nome|title }}</td>
                                        <td>{{ cliente.QuantidadeDisponivel }}</td>
                                        <td>{{ oferta.PreçoeCotação|split:"Cotação:"|first|calc_val_financeiro:cliente.QuantidadeDisponivel|moeda }}</td>
                                        <td class="text-center">
{#                                            <i class="fal fa-check-circle text-success"></i>#}
                                            <i class="fal fa-minus-circle text-danger text-center"></i>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade default-example-modal-left-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-left modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4">Pré Visualização do E-mail </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>

                </button>

            </div>


            <div class="modal-body">
                {#  PRÉ VIZUALIZAÇÃO DO EMAIL   #}
                <div class="form-group">
                    <label><b>Remetente</b></label>
                    <select id="remetente" class="form-control especial_form" name="remetente" onchange="">
{#                        <option value="{{ request.user.id|get_assessor_code_nome_email  }}" selected>{{ request.user.id|get_assessor_ifos }}</option>#}
                        <div id="opcoes">

                        </div>
                    </select>

                 </div>

                <div class="panel-container show">

                     <form>
                          <div class="form-group">
                             <label>ticker</label>
                             <input class="form-control" type="text" id="ticker" value="{{ ticker }}">
                         </div>
                          <div class="form-group">
                             <label>emissor</label>
                             <input class="form-control" type="text" id="emissor" value="{{ emissor }}">
                         </div>
                         <div class="form-group">
                             <label>enviado por USER</label>
                             <input class="form-control" type="text" id="enviado_por">
                         </div>
                         <div class="form-group">
                             <label>Email do cliente</label>
                             <input class="form-control" type="text" id="climail">
                         </div>
                         <div class="form-group">
                             <label>Assessor responsavel</label>
                             <input class="form-control" type="text" id="responsavel">
                         </div>
                         <div class="form-group">
                             <label>REMETENTE</label>
                             <input class="form-control" type="text" id="remete">
                         </div>
                         <div class="form-group">
                             <label>Assunto</label>
                             <input class="form-control" type="text" id="climail" value="Confirmação de reserva da Oferta Pública {{ oferta.Fundo }} - {{ oferta.Fundo|takeoff11|grab_fii_name }} ">
                         </div>
                         <div class="form-group">
                             <label></label>
                             <textarea class="form-control" id="emai_text"></textarea>
                         </div>


                    </form>

                    <div class="panel-content" id="email_body">

                        {{ saldacao }},

                        <span id='text_nome'> <span class="text-danger b-1">[NOME DO CLIENTE]</span> </span>.
                        <br><br>

                        Gostaria de confirmar a reserva de compra no seu código <span id='text_code'> <span class="text-danger b-1">[CÓDIGO DO CLIENTE]</span> </span> na XP:
                        <br><br>
                        Oferta: {{ oferta.Fundo }} - {{ oferta.Fundo|takeoff11|grab_fii_name }}
                        <br><br>
                        Quantidade de cotas: <span id='text_quantidade'> <span class="text-danger b-1">[QUANTIDADE]</span> </span>
                        <br><br>
                        Valor da cota: {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|first }}
                        <br><br>
                        Valor Financeiro: <span id='text_valor_financeiro'> <span class="text-danger b-1">[VALOR FINANCEIRO]</span> </span>
                        <br><br>
                        Observações importantes: Para adesão à reserva é expressamente recomendada a leitura integral do Prospecto da Oferta Pública, onde constam todas as demais informações sobre a Oferta, incluindo os riscos envolvidos na operação. Para consultar o prospecto clique aqui.
                        <br><br>
                        Aguardo a sua confirmação para realizar a reserva.

                        <br>
                        <br>

                        {% include '../../assinaturaemail.html' %}

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success">Enviar</button>
            </div>
        </div>
    </div>
</div>

    {# FORMILÁRIO DE ENVIO   #}
{#    <div class="col-md-4">#}
{#        <div id="panel-2" class="panel panel-locked" data-panel-lock="false" data-panel-close="false"    data-panel-locked="false" data-panel-refresh="false">#}
{#            <div class="panel-hdr">#}
{#                <h2>#}
{#                    Formulário de envio <span class="fw-300"><i></i></span>#}
{#                </h2>#}
{#                <div class="panel-toolbar" style="margin-right: 25px">#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="panel-container show">#}
{#                <div class="panel-content">#}
{#                    <form  id="form" method="post">#}
{#                            <input hidden type="" name="csrfmiddlewaretoken" id="token" value="{{csrf_token}}">#}
{#                            <input hidden name="cod_assessor_mail" id="cod_assessor_mail">#}
{##}
{#                            <div id="response"></div>#}
{##}
{#                            <div class="form-group">#}
{#                               <label>Código do cliente</label>#}
{#                               <input type="text" name="codigo" class="form-control especial_form" placeholder="Código" id="codigo" required onkeyup="putCodigo()" onchange="getClient(this)">#}
{#                               <small class="text-danger" id="table_ipo"></small>#}
{#                               <small id="unknow" class="text-danger"></small>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                               <label>Nome do cliente</label>#}
{#                               <input type="text" name="nome" id="nome" class="form-control especial_form" placeholder="Nome"  required onchange="putNome()">#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                               <label>Email</label>#}
{#                               <input type="email" name="email" id="emeincliente" class="form-control especial_form" placeholder="Email" required >#}
{#                               <input type="text" hidden id="email_assessor" name="email_assessor">#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                               <label>Remetente</label>#}
{#                                <select id="remetente" class="form-control especial_form" name="remetente" onchange="">#}
{#                                    <option value="{{ request.user.id|get_assessor_code_nome_email  }}" selected>{{ request.user.id|get_assessor_ifos }}</option>#}
{#                                </select>#}
{#                               <small class="text-danger" id="table_ipo"></small>#}
{#                            </div>#}
{#                            <input hidden name="assessor_responsavel" id="assessor_responsavel" >#}
{##}
{#                            <div class="form-group">#}
{#                               <label>Quantidade </label>#}
{#                               <input name="quantidade" title="number" class="form-control especial_form"  required id="quantidade" >#}
{#                            </div>#}
{##}
{#                            <textarea hidden class="form-control" id="emai_text" name="email_body"></textarea>#}
{##}
{#                            <input hidden id="email_from" name="email_from" value="{{ request.user.email }}">#}
{##}
{#                            <input hidden name="assunto" id="assunto" value="">#}
{##}
{#                            <br>#}
{##}
{##}
{#                      </form>#}
{#                        <div id="sender">#}
{#                        <button id="sendform"  class="btn btn-primary isDisable ladda-button" data-style="expand-right" onclick="sendmail()">Enviar E-mail</button>#}
{#                        <span id="notificacao"></span>#}
{#                        </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}


    {#  REGISTRO DE EMAILS ENVIADOS  #}

    <div class="col-md-12">
        <div id="panel-4" class="panel panel-locked" data-panel-lock="false" data-panel-close="false"    data-panel-locked="false" data-panel-refresh="false" >
            <div class="panel-hdr">
                <h2>
                    Registro de e-mails enviados <span class="fw-300"><i></i></span>
                </h2>

            </div>
            <div class="panel-container show">


                <div class="panel-content">

                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="Procurar...">
                    <br>


                    <table id="tabela_enviados" class="table table-bordered table-hover table-striped w-100 table-sm">
                        <thead>
                            <tr>
                                <th>Ver</th>
                                <th>Cliente</th>
                                <th>Enviado Por</th>
                                <th>Remetente</th>
                                <th>E-mail</th>
                                <th>Modalidade</th>
                                <th>Pessoa Vinculada</th>
                                <th>Valor Financeiro</th>
                                <th>Preço Máximo</th>
                                <th>Data</th>
                            </tr>
                        </thead>

                        <tbody id="tablemail">
{#                            {% for modalidade in modalidades %}#}
{#                                <tr>#}
{#                                    <td>{{ modalidade.name }}</td>#}
{#                                    <td>{{ modalidade.fee }}%</td>#}
{#                                    <td>{{ modalidade.garant|moeda }}</td>#}
{#                                    <td>{{ modalidade.min_reserv|moeda }}</td>#}
{#                                    <td>{{ modalidade.max_reserv|moeda }}</td>#}
{#                                    <td>{{ modalidade.lock_end|date:'d/m/Y' }}</td>#}
{#                                    <td>{{ modalidade.obs }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}
    {% include './js/email_view_js.html' %}
{% endblock %}
<!-- END page script -->