{% load static %}
{% load filter_tags %}


{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'empty' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#   (1)#}
    {{ oferta.Fundo|group_one|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (2)#}
    {{ oferta.Fundo|group_two|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (3)#}
    {{ oferta.Fundo|group_three|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (4)#}
    {{ oferta.Fundo|group_three|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (5)#}
    {{ oferta.Fundo|group_five|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'empty' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (6)#}
    {{ oferta.Fundo|group_six|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'full'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (7)#}
    {{ oferta.Fundo|group_seven|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'empty'  %}
{#    (8)#}
    {{ oferta.Fundo|group_eight|safe|put_colors|safe }}
{% endif %}

{% if oferta.PeríododeNegociação|group == 'full' and  oferta.PeríododePreferência|group == 'full' and  oferta.PeríododeSobras|group == 'empty'  and  oferta.PeríodoPúblico|group == 'full'  %}
{#    (9)#}
    {{ oferta.Fundo|group_nine|safe|put_colors|safe }}
{% endif %}