{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
<!-- BEGIN page style -->
{% block style %}
    {% include './css/list_view_css.html' %}

<style>
    .bola-info {
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #2196F3;
    }
    .bola-orange{
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #e67e22;
    }
    .bola-danger{
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #fd3995;
    }
    .bola-success{
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #1dc9b7;
    }
    </style>


{% endblock %}
<!-- END page style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}

    <!-- Modal Upload de arquivos -->
    <div class="modal fade" id="default-example-modal-lg-center" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Importar arquivos de Direito de Subscrição</h5>
                    <button type="button" class="close reset-dz" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'offers:fii-files-upload' %}" method="POST" class="dropzone" id="my-dropzone">
                        {% csrf_token %}
                        <input hidden name="ticker" id="ticker">
                        <div class="fallback">
                            <input  type=file  name="file"/>
                          </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success reset-dz" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'offers:scrape-ticker11' %}" type="button" class="btn btn-sm btn-primary" id="js-sweetalert2-example-16">
        <i class="fal fa-cloud-download"></i>
        Atualizar Ofertas
    </a>


    <br>

    <div style="margin-top: 10px;" class="text-danger"><i class="fal fa-clock"></i> {{ last_update|date:'d/m/Y - H:i' }}</div>

{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}

    <div class="alert alert-primary">
        <div class="d-flex flex-start w-100">
            <div class="mr-2 hidden-md-down">
                <span class="icon-stack icon-stack-lg">
                    <i class="base base-2 icon-stack-3x opacity-100 color-primary-500"></i>
                    <i class="base base-2 icon-stack-2x opacity-100 color-primary-300"></i>
                    <i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
                </span>
            </div>
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <span class="h5">Informações</span>

                    <p class="m-0">
                        Liberado para envio: <i class ="fas fa-wifi-1  fa-3x text-info" > </i>  
                        Último dia Liquidação: <i class ="fas fa-wifi-1  fa-3x text-danger" > </i>  
                        {% comment %} Último Dia: <i class ="fas fa-wifi-1 fa-3x" style="color:#e67e22; "> </i>  Liquidação: <i class ="fas fa-wifi-1 text-danger fa-3x " > </i> Disponível: <i class ="fas fa-wifi-1 text-success fa-3x " > </i> {% endcomment %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-content-demopanels">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Lista de Ofertas <span class="fw-300"><i></i></span>
                    </h2>
                    <div class="panel-toolbar" style="margin-right: 25px">

                        <button class="btn btn-primary btn-sm" data-toggle="dropdown">Estilo da Tabela</button>
                        <div class="dropdown-menu dropdown-menu-animated dropdown-menu-right position-absolute pos-top">
                            <button class="dropdown-item active" data-action="toggle" data-class="table-bordered" data-target="#dt-basic-example"> Tabela com Bordas </button>
                            <button class="dropdown-item active" data-action="toggle" data-class="table-sm" data-target="#dt-basic-example"> Tabela Menor </button>
                            <button class="dropdown-item" data-action="toggle" data-class="table-dark" data-target="#dt-basic-example"> Tabela Escura </button>
                            <button class="dropdown-item active" data-action="toggle" data-class="table-hover" data-target="#dt-basic-example"> Destacar Linha </button>
                            <button class="dropdown-item active" data-action="toggle" data-class="table-stripe" data-target="#dt-basic-example"> Tabela Listrada </button>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-multilevel dropdown-multilevel-left">
                                <div class="dropdown-item">
                                    Cor do Corpo
                                </div>
                                <div class="dropdown-menu no-transition-delay">
                                    <div class="js-tbody-colors dropdown-multilevel dropdown-multilevel-left d-flex flex-wrap" style="width: 15.9rem; padding: 0.5rem">
                                        <a href="javascript:void(0);" data-bg="bg-primary-100" class="btn d-inline-block bg-primary-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-200" class="btn d-inline-block bg-primary-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-300" class="btn d-inline-block bg-primary-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-400" class="btn d-inline-block bg-primary-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-500" class="btn d-inline-block bg-primary-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-600" class="btn d-inline-block bg-primary-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-700" class="btn d-inline-block bg-primary-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-800" class="btn d-inline-block bg-primary-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-900" class="btn d-inline-block bg-primary-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-100" class="btn d-inline-block bg-success-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-200" class="btn d-inline-block bg-success-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-300" class="btn d-inline-block bg-success-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-400" class="btn d-inline-block bg-success-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-500" class="btn d-inline-block bg-success-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-600" class="btn d-inline-block bg-success-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-700" class="btn d-inline-block bg-success-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-800" class="btn d-inline-block bg-success-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-900" class="btn d-inline-block bg-success-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-100" class="btn d-inline-block bg-info-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-200" class="btn d-inline-block bg-info-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-300" class="btn d-inline-block bg-info-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-400" class="btn d-inline-block bg-info-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-500" class="btn d-inline-block bg-info-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-600" class="btn d-inline-block bg-info-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-700" class="btn d-inline-block bg-info-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-800" class="btn d-inline-block bg-info-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-900" class="btn d-inline-block bg-info-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-100" class="btn d-inline-block bg-danger-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-200" class="btn d-inline-block bg-danger-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-300" class="btn d-inline-block bg-danger-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-400" class="btn d-inline-block bg-danger-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-500" class="btn d-inline-block bg-danger-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-600" class="btn d-inline-block bg-danger-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-700" class="btn d-inline-block bg-danger-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-800" class="btn d-inline-block bg-danger-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-900" class="btn d-inline-block bg-danger-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-100" class="btn d-inline-block bg-warning-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-200" class="btn d-inline-block bg-warning-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-300" class="btn d-inline-block bg-warning-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-400" class="btn d-inline-block bg-warning-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-500" class="btn d-inline-block bg-warning-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-600" class="btn d-inline-block bg-warning-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-700" class="btn d-inline-block bg-warning-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-800" class="btn d-inline-block bg-warning-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-900" class="btn d-inline-block bg-warning-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-100" class="btn d-inline-block bg-fusion-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-200" class="btn d-inline-block bg-fusion-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-300" class="btn d-inline-block bg-fusion-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-400" class="btn d-inline-block bg-fusion-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-500" class="btn d-inline-block bg-fusion-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-600" class="btn d-inline-block bg-fusion-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-700" class="btn d-inline-block bg-fusion-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-800" class="btn d-inline-block bg-fusion-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-900" class="btn d-inline-block bg-fusion-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="" class="btn d-inline-block bg-white border width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-multilevel dropdown-multilevel-left">
                                <div class="dropdown-item">
                                    Cor do Cabeçalho
                                </div>
                                <div class="dropdown-menu no-transition-delay">
                                    <div class="js-thead-colors dropdown-multilevel dropdown-multilevel-left d-flex flex-wrap" style="width: 15.9rem; padding: 0.5rem">
                                        <a href="javascript:void(0);" data-bg="bg-primary-100" class="btn d-inline-block bg-primary-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-200" class="btn d-inline-block bg-primary-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-300" class="btn d-inline-block bg-primary-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-400" class="btn d-inline-block bg-primary-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-500" class="btn d-inline-block bg-primary-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-600" class="btn d-inline-block bg-primary-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-700" class="btn d-inline-block bg-primary-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-800" class="btn d-inline-block bg-primary-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-900" class="btn d-inline-block bg-primary-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-100" class="btn d-inline-block bg-success-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-200" class="btn d-inline-block bg-success-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-300" class="btn d-inline-block bg-success-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-400" class="btn d-inline-block bg-success-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-500" class="btn d-inline-block bg-success-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-600" class="btn d-inline-block bg-success-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-700" class="btn d-inline-block bg-success-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-800" class="btn d-inline-block bg-success-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-900" class="btn d-inline-block bg-success-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-100" class="btn d-inline-block bg-info-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-200" class="btn d-inline-block bg-info-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-300" class="btn d-inline-block bg-info-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-400" class="btn d-inline-block bg-info-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-500" class="btn d-inline-block bg-info-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-600" class="btn d-inline-block bg-info-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-700" class="btn d-inline-block bg-info-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-800" class="btn d-inline-block bg-info-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-900" class="btn d-inline-block bg-info-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-100" class="btn d-inline-block bg-danger-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-200" class="btn d-inline-block bg-danger-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-300" class="btn d-inline-block bg-danger-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-400" class="btn d-inline-block bg-danger-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-500" class="btn d-inline-block bg-danger-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-600" class="btn d-inline-block bg-danger-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-700" class="btn d-inline-block bg-danger-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-800" class="btn d-inline-block bg-danger-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-900" class="btn d-inline-block bg-danger-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-100" class="btn d-inline-block bg-warning-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-200" class="btn d-inline-block bg-warning-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-300" class="btn d-inline-block bg-warning-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-400" class="btn d-inline-block bg-warning-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-500" class="btn d-inline-block bg-warning-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-600" class="btn d-inline-block bg-warning-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-700" class="btn d-inline-block bg-warning-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-800" class="btn d-inline-block bg-warning-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-900" class="btn d-inline-block bg-warning-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-100" class="btn d-inline-block bg-fusion-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-200" class="btn d-inline-block bg-fusion-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-300" class="btn d-inline-block bg-fusion-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-400" class="btn d-inline-block bg-fusion-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-500" class="btn d-inline-block bg-fusion-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-600" class="btn d-inline-block bg-fusion-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-700" class="btn d-inline-block bg-fusion-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-800" class="btn d-inline-block bg-fusion-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-900" class="btn d-inline-block bg-fusion-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="" class="btn d-inline-block bg-white border width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-container show">


                    <div class="panel-content">

                        <table  class="table  table-responsive table-hover table-bordered table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th nowrap rowspan="2">Email</th>
                                    <th nowrap rowspan="2">Ticker</th>
                                    <th nowrap rowspan="2">ICVM</th>
                                    <th nowrap rowspan="2">Total por Cota</th>
                                    <th nowrap rowspan="2">Valor mínimo</th>
                                    <th nowrap rowspan="2">Preço</th>
                                    <th nowrap rowspan="2">Cotação</th>
                                    <th nowrap colspan="3">Direitos dos Cotistas</th>
                                    <th nowrap colspan="3">Fase Direito de Preferência</th>
                                    <th nowrap colspan="3">Fase Sobras Dir. de Preferência</th>
                                    <th nowrap colspan="3">Fase Pública</th>
                                    
                                   
                                    
                                  
                                </tr>
                                <tr>
                                    
                                    <th nowrap>Preferência</th>
                                    <th nowrap>Negociável</th>
                                    <th nowrap>Data Com</th>
                                    <th nowrap>Início</th>
                                    <th nowrap>Término</th>
                                    <th nowrap>Liquidação</th>
                                    <th nowrap>Início</th>
                                    <th nowrap>Término</th>
                                    <th nowrap>Liquidação</th>
                                    <th nowrap>Início</th>
                                    <th nowrap>Término</th>
                                    <th nowrap>Liquidação</th>
                                    {% if quem %}
                                    <th nowrap>Arquivo</th>
                                    {%endif%}
                                   
                                </tr>
                               
                            </thead>
                            <tbody>
                                {% for oferta in ofertas %}
                                    {%if oferta.icvm != ''%}
                                    <tr
                                    
                                    {%if oferta.icvm == 'Ofertas aguardando anúncio de início:'%} 
                                        style="background:#f1c40f"
                                    {%endif%}

                                    {%if oferta.icvm == 'Ofertas Encerradas'%} 
                                        style="background:#e74c3c"
                                    {%endif%}

                                    {%if oferta.icvm == 'Ofertas Canceladas'%} 
                                        style="background:#c0392b;"
                                    {%endif%} 
                                    >


                                        <td>
                                            {% if  oferta.Dinicio|checkdatainicio:oferta.Dtermino == 'text-info'  %}   
                                                {%if oferta.ticker|getjustnamefii|isfile_here == 'btn-success'%}
                                                    <a href="{% url 'offers:send-mail-rv-fii' oferta.id oferta.ticker|getjustnamefii %}"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                                {%else%}
                                                    <span class="ni ni-envelope text-danger fa-2x" style="z-index: 999999"></span>
                                                {%endif%}
                                            {%endif%}

                                            {% if '<span class="text-danger">' in oferta.Dliquidacao|checkdata %}
                                                {%if oferta.ticker|getjustnamefii|isfile_here == 'btn-success'%}
                                                    <a href="{% url 'offers:send-mail-rv-fii' oferta.id oferta.ticker|getjustnamefii %}"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                                {%else%}
                                                    <span class="ni ni-envelope text-danger fa-2x" style="z-index: 999999"></span>
                                                {%endif%}
                                            {%endif%}

                                            {% if  oferta.Finicio|checkdatainicio:oferta.Ftermino == 'text-info'  %}   

                                            {%if oferta.ticker|getjustnamefii|isfile_here == 'btn-success'%}
                                            <a href="{% url 'offers:send-mail-rv-fii' oferta.id oferta.ticker|getjustnamefii %}"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                        {%else%}
                                            <span class="ni ni-envelope text-danger fa-2x" style="z-index: 999999"></span>
                                        {%endif%}
                                            {%endif%}

                                            {% if '<span class="text-danger">' in oferta.Fliquidacao|checkdata %}
                                                {%if oferta.ticker|getjustnamefii|isfile_here == 'btn-success'%}
                                                    <a href="{% url 'offers:send-mail-rv-fii' oferta.id oferta.ticker|getjustnamefii %}"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                                {%else%}
                                                    <span class="ni ni-envelope text-danger fa-2x" style="z-index: 999999"></span>
                                                {%endif%}
                                            {%endif%}

                                            {% if  oferta.Pinicio|checkdatainicio:oferta.Ptermino == 'text-info'  %}   

                                            {%if oferta.ticker|getjustnamefii|isfile_here == 'btn-success'%}
                                            <a href="{% url 'offers:send-mail-rv-fii' oferta.id oferta.ticker|getjustnamefii %}"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                        {%else%}
                                            <span class="ni ni-envelope text-danger fa-2x" style="z-index: 999999"></span>
                                        {%endif%}
                                            {%endif%}

                                            {% if '<span class="text-danger">' in oferta.Pliquidacao|checkdata %}
                                                {%if oferta.ticker|getjustnamefii|isfile_here == 'btn-success'%}
                                                    <a href="{% url 'offers:send-mail-rv-fii' oferta.id oferta.ticker|getjustnamefii %}"><span class="ni ni-envelope fa-2x" style="z-index: 999999"></span></a>
                                                {%else%}
                                                    <span class="ni ni-envelope text-danger fa-2x" style="z-index: 999999"></span>
                                                {%endif%}
                                            {%endif%}  
                                        </td>

                                        <td nowrap> {{ oferta.ticker|replace_documentacao|safe }}<br>
                                            {%if oferta.ticker|getjustnamefii|takeoff11|grab_fii_name != "" %}
                                            <small>{{oferta.ticker|getjustnamefii|takeoff11|grab_fii_name}}</small>
                                            {%endif%}
                                        </td>
                                        <td 
                                        
                                        {%if oferta.icvm == 'Ofertas aguardando anúncio de início:'%} 
                                            style="position:absolute; border:none;background:#f1c40f"
                                        {%endif%}

                                        {%if oferta.icvm == 'Ofertas Encerradas'%} 
                                            style="position:absolute; border:none;background:#e74c3c"
                                        {%endif%}

                                        {%if oferta.icvm == 'Ofertas Canceladas'%} 
                                            style="position:absolute; border:none;background:#c0392b"
                                        {%endif%}
                                        
                                        >

                                        {%if oferta.icvm == 'Ofertas aguardando anúncio de início:'%} 
                                            <span style="color:#fff">{{oferta.icvm}}</span>
                                        {%elif oferta.icvm == 'Ofertas Encerradas'%} 
                                            <span style="color:#fff">{{oferta.icvm}}</span>
                                        {%elif oferta.icvm == 'Ofertas Canceladas'%} 
                                            <span style="color:#fff">{{oferta.icvm}}</span>
                                        {%else%}
                                            {{oferta.icvm}}<br>
                                            

                                        {%endif%}

                                           
                                        </td>
                                        <td nowrap>{{oferta.totaldecotas}}</td>
                                        <td nowrap>{{oferta.valorminimo}}</td>
                                        <td nowrap>{{oferta.cotacao}}</td>
                                        <td nowrap>{{oferta.cotacaooferta|tiraporcentagem|safe}}</td>
                                        <td nowrap>{{oferta.preferencia}}</td>
                                        <td nowrap>{{oferta.negociaveil}}</td>
                                        <td nowrap>
                                        <span class="text-muted">
                                            {{oferta.datacom}}
                                        </span>
                                        </td>
                                       
                                        <td nowrap>
                                            <span class="{{  oferta.Dinicio|checkdatainicio:oferta.Dtermino }}">
                                                {{oferta.Dinicio}}
                                            </span>
                                        </td>

                                        <td nowrap>
                                            <span class="{{ oferta.Dinicio|checkdatainicio:oferta.Dtermino }}">
                                                {{oferta.Dtermino}}
                                            </span>
                                        </td>
                                        <td nowrap>
                                            {{oferta.Dliquidacao|checkdata|safe}}
                                        </td>
                                        <td nowrap>
                                            <span class="{{ oferta.Finicio|checkdatainicio:oferta.Ftermino }}">
                                                {{oferta.Finicio}}
                                            </span>
                                        </td>
                                        <td nowrap>
                                            <span class="{{ oferta.Finicio|checkdatainicio:oferta.Ftermino }}">
                                                {{oferta.Ftermino}}
                                            </span>
                                        </td>
                                        <td nowrap>
                                            {{oferta.Fliquidacao|checkdata|safe}}
                                        </td>
                                        <td nowrap>
                                            <span class="{{  oferta.Pinicio|checkdatainicio:oferta.Ptermino }}">
                                                {{oferta.Pinicio}}
                                            </span>
                                        </td>
                                        <td nowrap>
                                            <span class="{{  oferta.Pinicio|checkdatainicio:oferta.Ptermino }}">
                                                {{oferta.Ptermino}}
                                            </span>
                                        </td>
                                        <td nowrap>{{oferta.Pliquidacao|checkdata|safe}}</td>
                                        {%if quem%}
                                        <td>

                                            {% if  oferta.Dinicio|checkdatainicio:oferta.Dtermino == 'text-info'  %}   
                                            <a href="#" id="_id-{{ oferta.ticker|getjustnamefii }}" onclick="get_ticker('{{ oferta.ticker|getjustnamefii }}')" class="btn {{ oferta.ticker|getjustnamefii|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                <i class="fal fa-cloud-upload"></i>
                                            </a>
                                            {%endif%}

                                            {% if '<span class="text-danger">' in oferta.Dliquidacao|checkdata %}
                                                <a href="#" id="_id-{{ oferta.ticker|getjustnamefii }}" onclick="get_ticker('{{ oferta.ticker|getjustnamefii }}')" class="btn {{ oferta.ticker|getjustnamefii|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                    <i class="fal fa-cloud-upload"></i>
                                                </a>
                                            {%endif%}

                                            {% if  oferta.Finicio|checkdatainicio:oferta.Ftermino == 'text-info'  %}   
                                            <a href="#" id="_id-{{ oferta.ticker|getjustnamefii }}" onclick="get_ticker('{{ oferta.ticker|getjustnamefii }}')" class="btn {{ oferta.ticker|getjustnamefii|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                <i class="fal fa-cloud-upload"></i>
                                            </a>
                                                
                                            {%endif%}

                                            {% if '<span class="text-danger">' in oferta.Fliquidacao|checkdata %}
                                                <a href="#" id="_id-{{ oferta.ticker|getjustnamefii }}" onclick="get_ticker('{{ oferta.ticker|getjustnamefii }}')" class="btn {{ oferta.ticker|getjustnamefii|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                    <i class="fal fa-cloud-upload"></i>
                                                </a>
                                            {%endif%}

                                            {% if  oferta.Pinicio|checkdatainicio:oferta.Ptermino == 'text-info'  %}   
                                            <a href="#" id="_id-{{ oferta.ticker|getjustnamefii }}" onclick="get_ticker('{{ oferta.ticker|getjustnamefii }}')" class="btn {{ oferta.ticker|getjustnamefii|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                <i class="fal fa-cloud-upload"></i>
                                            </a>
                                            {%endif%}

                                            {% if '<span class="text-danger">' in oferta.Pliquidacao|checkdata %}
                                                <a href="#" id="_id-{{ oferta.ticker|getjustnamefii }}" onclick="get_ticker('{{ oferta.ticker|getjustnamefii }}')" class="btn {{ oferta.ticker|getjustnamefii|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                    <i class="fal fa-cloud-upload"></i>
                                                </a>
                                            {%endif%}  

                                         
                                        </td>
                                        {%endif%}
                                       
                                    </tr>
                                    {%endif%}
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}
    {% include './js/list_view_js.html' %}
{% endblock %}
<!-- END page script -->






















