{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
<!-- BEGIN page style -->
{% block style %}
    {% include './css/list_view_css.html' %}

    <style>
    .bola-info {
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #2196F3;
    }
    .bola-orange{
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #e67e22;
    }
    .bola-danger{
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #fd3995;
    }
    .bola-success{
        border-radius: 50%;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: #1dc9b7;
    }
    </style>


{% endblock %}
<!-- END page style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}

    <!-- Modal Upload de arquivos -->
    <div class="modal fade" id="default-example-modal-lg-center" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Importar arquivos de Direito de Subscrição</h5>
                    <button type="button" class="close reset-dz" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'offers:fii-files-upload' %}" method="POST" class="dropzone" id="my-dropzone">
                        {% csrf_token %}
                        <input hidden name="ticker" id="ticker">
                        <div class="fallback">
                            <input  type=file  name="file"/>
                          </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success reset-dz" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'offers:scrape-ticker11' %}" type="button" class="btn btn-sm btn-primary" id="js-sweetalert2-example-16">
        <i class="fal fa-cloud-download"></i>
        Atualizar Ofertas
    </a>


    <br>

    <div style="margin-top: 10px;" class="text-danger"><i class="fal fa-clock"></i> {{ last_update|date:'d/m/Y - H:i' }}</div>

{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}

    <div class="alert alert-primary">
        <div class="d-flex flex-start w-100">
            <div class="mr-2 hidden-md-down">
                <span class="icon-stack icon-stack-lg">
                    <i class="base base-2 icon-stack-3x opacity-100 color-primary-500"></i>
                    <i class="base base-2 icon-stack-2x opacity-100 color-primary-300"></i>
                    <i class="fal fa-info icon-stack-1x opacity-100 color-white"></i>
                </span>
            </div>
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <span class="h5">Informações</span>

                    <p class="m-0">
                        Aguardando: <i class ="fas fa-wifi-1 text-info fa-3x " > </i>  Último Dia: <i class ="fas fa-wifi-1 fa-3x" style="color:#e67e22; "> </i>  Liquidação: <i class ="fas fa-wifi-1 text-danger fa-3x " > </i> Disponível: <i class ="fas fa-wifi-1 text-success fa-3x " > </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-content-demopanels">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Lista de Ofertas <span class="fw-300"><i></i></span>
                    </h2>
                    <div class="panel-toolbar" style="margin-right: 25px">

                        <button class="btn btn-primary btn-sm" data-toggle="dropdown">Estilo da Tabela</button>
                        <div class="dropdown-menu dropdown-menu-animated dropdown-menu-right position-absolute pos-top">
                            <button class="dropdown-item active" data-action="toggle" data-class="table-bordered" data-target="#dt-basic-example"> Tabela com Bordas </button>
                            <button class="dropdown-item active" data-action="toggle" data-class="table-sm" data-target="#dt-basic-example"> Tabela Menor </button>
                            <button class="dropdown-item" data-action="toggle" data-class="table-dark" data-target="#dt-basic-example"> Tabela Escura </button>
                            <button class="dropdown-item active" data-action="toggle" data-class="table-hover" data-target="#dt-basic-example"> Destacar Linha </button>
                            <button class="dropdown-item active" data-action="toggle" data-class="table-stripe" data-target="#dt-basic-example"> Tabela Listrada </button>
                            <div class="dropdown-divider m-0"></div>
                            <div class="dropdown-multilevel dropdown-multilevel-left">
                                <div class="dropdown-item">
                                    Cor do Corpo
                                </div>
                                <div class="dropdown-menu no-transition-delay">
                                    <div class="js-tbody-colors dropdown-multilevel dropdown-multilevel-left d-flex flex-wrap" style="width: 15.9rem; padding: 0.5rem">
                                        <a href="javascript:void(0);" data-bg="bg-primary-100" class="btn d-inline-block bg-primary-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-200" class="btn d-inline-block bg-primary-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-300" class="btn d-inline-block bg-primary-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-400" class="btn d-inline-block bg-primary-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-500" class="btn d-inline-block bg-primary-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-600" class="btn d-inline-block bg-primary-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-700" class="btn d-inline-block bg-primary-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-800" class="btn d-inline-block bg-primary-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-900" class="btn d-inline-block bg-primary-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-100" class="btn d-inline-block bg-success-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-200" class="btn d-inline-block bg-success-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-300" class="btn d-inline-block bg-success-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-400" class="btn d-inline-block bg-success-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-500" class="btn d-inline-block bg-success-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-600" class="btn d-inline-block bg-success-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-700" class="btn d-inline-block bg-success-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-800" class="btn d-inline-block bg-success-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-900" class="btn d-inline-block bg-success-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-100" class="btn d-inline-block bg-info-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-200" class="btn d-inline-block bg-info-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-300" class="btn d-inline-block bg-info-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-400" class="btn d-inline-block bg-info-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-500" class="btn d-inline-block bg-info-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-600" class="btn d-inline-block bg-info-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-700" class="btn d-inline-block bg-info-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-800" class="btn d-inline-block bg-info-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-900" class="btn d-inline-block bg-info-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-100" class="btn d-inline-block bg-danger-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-200" class="btn d-inline-block bg-danger-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-300" class="btn d-inline-block bg-danger-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-400" class="btn d-inline-block bg-danger-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-500" class="btn d-inline-block bg-danger-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-600" class="btn d-inline-block bg-danger-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-700" class="btn d-inline-block bg-danger-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-800" class="btn d-inline-block bg-danger-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-900" class="btn d-inline-block bg-danger-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-100" class="btn d-inline-block bg-warning-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-200" class="btn d-inline-block bg-warning-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-300" class="btn d-inline-block bg-warning-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-400" class="btn d-inline-block bg-warning-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-500" class="btn d-inline-block bg-warning-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-600" class="btn d-inline-block bg-warning-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-700" class="btn d-inline-block bg-warning-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-800" class="btn d-inline-block bg-warning-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-900" class="btn d-inline-block bg-warning-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-100" class="btn d-inline-block bg-fusion-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-200" class="btn d-inline-block bg-fusion-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-300" class="btn d-inline-block bg-fusion-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-400" class="btn d-inline-block bg-fusion-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-500" class="btn d-inline-block bg-fusion-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-600" class="btn d-inline-block bg-fusion-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-700" class="btn d-inline-block bg-fusion-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-800" class="btn d-inline-block bg-fusion-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-900" class="btn d-inline-block bg-fusion-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="" class="btn d-inline-block bg-white border width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-multilevel dropdown-multilevel-left">
                                <div class="dropdown-item">
                                    Cor do Cabeçalho
                                </div>
                                <div class="dropdown-menu no-transition-delay">
                                    <div class="js-thead-colors dropdown-multilevel dropdown-multilevel-left d-flex flex-wrap" style="width: 15.9rem; padding: 0.5rem">
                                        <a href="javascript:void(0);" data-bg="bg-primary-100" class="btn d-inline-block bg-primary-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-200" class="btn d-inline-block bg-primary-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-300" class="btn d-inline-block bg-primary-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-400" class="btn d-inline-block bg-primary-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-500" class="btn d-inline-block bg-primary-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-600" class="btn d-inline-block bg-primary-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-700" class="btn d-inline-block bg-primary-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-800" class="btn d-inline-block bg-primary-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-primary-900" class="btn d-inline-block bg-primary-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-100" class="btn d-inline-block bg-success-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-200" class="btn d-inline-block bg-success-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-300" class="btn d-inline-block bg-success-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-400" class="btn d-inline-block bg-success-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-500" class="btn d-inline-block bg-success-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-600" class="btn d-inline-block bg-success-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-700" class="btn d-inline-block bg-success-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-800" class="btn d-inline-block bg-success-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-success-900" class="btn d-inline-block bg-success-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-100" class="btn d-inline-block bg-info-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-200" class="btn d-inline-block bg-info-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-300" class="btn d-inline-block bg-info-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-400" class="btn d-inline-block bg-info-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-500" class="btn d-inline-block bg-info-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-600" class="btn d-inline-block bg-info-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-700" class="btn d-inline-block bg-info-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-800" class="btn d-inline-block bg-info-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-info-900" class="btn d-inline-block bg-info-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-100" class="btn d-inline-block bg-danger-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-200" class="btn d-inline-block bg-danger-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-300" class="btn d-inline-block bg-danger-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-400" class="btn d-inline-block bg-danger-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-500" class="btn d-inline-block bg-danger-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-600" class="btn d-inline-block bg-danger-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-700" class="btn d-inline-block bg-danger-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-800" class="btn d-inline-block bg-danger-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-danger-900" class="btn d-inline-block bg-danger-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-100" class="btn d-inline-block bg-warning-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-200" class="btn d-inline-block bg-warning-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-300" class="btn d-inline-block bg-warning-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-400" class="btn d-inline-block bg-warning-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-500" class="btn d-inline-block bg-warning-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-600" class="btn d-inline-block bg-warning-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-700" class="btn d-inline-block bg-warning-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-800" class="btn d-inline-block bg-warning-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-warning-900" class="btn d-inline-block bg-warning-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-100" class="btn d-inline-block bg-fusion-100 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-200" class="btn d-inline-block bg-fusion-200 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-300" class="btn d-inline-block bg-fusion-300 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-400" class="btn d-inline-block bg-fusion-400 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-500" class="btn d-inline-block bg-fusion-500 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-600" class="btn d-inline-block bg-fusion-600 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-700" class="btn d-inline-block bg-fusion-700 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-800" class="btn d-inline-block bg-fusion-800 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="bg-fusion-900" class="btn d-inline-block bg-fusion-900 width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                        <a href="javascript:void(0);" data-bg="" class="btn d-inline-block bg-white border width-2 height-2 p-0 rounded-0" style="margin:1px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-container show">


                    <div class="panel-content">
    {#                        <div class="panel-tag">#}
    {#                            This example shows DataTables and the Responsive extension being used with the Bootstrap framework providing the styling. The DataTables / Bootstrap integration provides seamless integration for DataTables to be used in a Bootstrap page. <strong>Note</strong> that the <code>.dt-responsive</code> class is used to indicate to the extension that it should be enabled on this page, as responsive has special meaning in Bootstrap. The responsive option could also be used if required#}
    {#                        </div>#}
                        <!-- datatable start -->
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 table-sm">
                            <thead>
                                <tr>
                                    <th>Detalhar</th>
                                    <th>Email</th>
                                    <th>Fundo</th>
                                    <th>Preço</th>
                                    <th>Cotação</th>
                                    <th>Data-base</th>
                                    <th>Pretíodo das Negociações</th>
                                    <th>Preríodo de Preferência</th>
                                    <th>Preríodo de Sobra</th>
                                    <th>Período público</th>
                                    <th>Editar</th>
                                    <th>Upload</th>
                                    <th class="phone">Etapa</th>
                                    <th class="phone">Montante Adicional</th>
                                    <th class="phone">Tipo de Oferta:	</th>
                                    <th class="phone">Preço e Taxa:	</th>
                                    <th class="phone">Data Encerramento:</th>
                                    <th class="phone">Proporção de Preferência:</th>
                                    <th class="phone">Proporção de Sobras:</th>
                                    <th class="phone">Investimento Mínimo:</th>
                                    <th class="phone">Captação Mínima:</th>
                                    <th class="phone">Captação Máxima:</th>
                                    <th class="phone">Coordenador Líder:</th>
                                    <th class="phone">Data de Encerramento:</th>
                                    <th class="phone">Método de Rateio:</th>
                                    <th class="phone">Resultado do Rateio:</th>
                                    <th class="phone">Observações:</th>
                                    <th class="phone">Documentação:</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for oferta in ofertas %}
                                    <tr>
                                        <td class="text-center"><i class="ni ni-list fa-2x"></i></td>
                                        <td class="text-center">

                                            {% include './allowed_mails.html' %}
                                            {% include './group_colors.html' %}

                                        </td>

                                        <td>
                                            {{ oferta.Fundo }} ({{ oferta.Emissão }} emissão)<br>
                                            <span style="font-size: 10px">{{ oferta.Fundo|takeoff11|grab_fii_name }}</span>
                                       </td>
                                        <td>{{ oferta.PreçoeCotação|split:"Cotação:"|first}}</td>
                                        <td>
                                            {% if oferta.PreçoeCotação|find_negative == 'nada'  %}
                                            {% elif  oferta.PreçoeCotação|find_negative %}
                                                {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|first }}<br>
                                                 <span class="text-danger"> <i class="fal fa-long-arrow-down"></i>  {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|last|replace_close_parent }}</span>
                                            {% else %}
                                                {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|first }}<br>
                                                  <span class="text-success"><i class="fal fa-long-arrow-up"></i>  {{ oferta.PreçoeCotação|split:"Cotação:"|last|split:"("|last|replace_close_parent }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if oferta.Fundo|check_if_has_aedits:oferta.Emissão == 'ok' %}

                                                {% if oferta.Fundo|check_if_has_aedits_database:oferta.Emissão != '' %}
                                                    <span class="text-warning">{{ oferta.Fundo|check_if_has_aedits_database:oferta.Emissão|date:'d/m/Y' }}</span>
                                                {% else %}
                                                    {{ oferta.Database|dot_to_bar }}
                                                {% endif %}
                                            {% else %}
                                                {{ oferta.Database|dot_to_bar }}
                                            {% endif %}

                                        </td>
                                        <td>

                                            {% if oferta.Fundo|check_if_has_aedits_pnegocia_inicio:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|check_if_has_aedits_pnegocia_inicio:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododeNegociação|dot_to_bar|split:"até"|first }}
                                            {% endif %}

                                            <i class="fal fa-caret-right text-success"></i>

                                            {% if oferta.Fundo|check_if_has_aedits_pnegocia_fim:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|check_if_has_aedits_pnegocia_fim:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododeNegociação|dot_to_bar|split:"até"|last }}
                                            {% endif %}

                                        </td>

                                        <td>

                                            {% if oferta.Fundo|inicio_periodo_preferencia:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|inicio_periodo_preferencia:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododePreferência|dot_to_bar|split:"até"|first }}
                                            {% endif %}

                                            <i class="fal fa-caret-right text-success"></i>

                                            {% if oferta.Fundo|fim_periodo_preferencia:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|fim_periodo_preferencia:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododePreferência|dot_to_bar|split:"até"|last|split:"Liquidação:"|first }}
                                            {% endif %}

                                            <br>
                                            <span class="text-danger">Liquidação: </span>

                                            {% if oferta.Fundo|liquidacao_periodo_preferencia:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|liquidacao_periodo_preferencia:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododePreferência|dot_to_bar|split:"até"|last|split:"Liquidação:"|last }}
                                            {% endif %}

                                            {#  {{ oferta.PeríododePreferência|dot_to_bar|split:"até"|first }}<br>#}
                                            {#  {{ oferta.PeríododePreferência|dot_to_bar|split:"até"|last|split:"Liquidação:"|first }}<br>#}
                                            {#  {{ oferta.PeríododePreferência|dot_to_bar|split:"até"|last|split:"Liquidação:"|last }}#}
                                        </td>

                                        <td>

                                            {% if oferta.Fundo|inicio_periodo_sobra:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|inicio_periodo_sobra:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododeSobras|dot_to_bar|split:"até"|first }}
                                            {% endif %}

                                            <i class="fal fa-caret-right text-success"></i>

                                            {% if oferta.Fundo|fim_periodo_sobra:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|fim_periodo_sobra:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododeSobras|dot_to_bar|split:"até"|last|split:"Liquidação:"|first }}
                                            {% endif %}

                                            <br>
                                            <span class="text-danger">Liquidação: </span>

                                            {% if oferta.Fundo|liquidacao_periodo_sobra:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|liquidacao_periodo_sobra:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríododeSobras|dot_to_bar|split:"até"|last|split:"Liquidação:"|last }}
                                            {% endif %}



{#                                              {{ oferta.PeríododeSobras|dot_to_bar|split:"até"|first }}<br>#}
{#                                              {{ oferta.PeríododeSobras|dot_to_bar|split:"até"|last|split:"Liquidação:"|first }}<br>#}
{#                                              {{ oferta.PeríododeSobras|dot_to_bar|split:"até"|last|split:"Liquidação:"|last }}#}
                                            {# {{ oferta.PeríododeSobras|dot_to_bar|ate_trace|liquidacao|safe }}#}

                                        </td>

                                        <td>
                                            {% if oferta.Fundo|inicio_periodo_publico:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|inicio_periodo_publico:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríodoPúblico|dot_to_bar|split:"até"|first }}
                                            {% endif %}

                                            <i class="fal fa-caret-right text-success"></i>

                                            {% if oferta.Fundo|fim_periodo_publico:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|fim_periodo_publico:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríodoPúblico|dot_to_bar|split:"até"|last|split:"Liquidação:"|first }}
                                            {% endif %}

                                            <br>
                                            <span class="text-danger">Liquidação: </span>

                                            {% if oferta.Fundo|liquidacao_periodo_publico:oferta.Emissão != '' %}
                                                <span class="text-warning">{{ oferta.Fundo|liquidacao_periodo_publico:oferta.Emissão|date:'d/m/Y' }}</span>
                                            {% else %}
                                                {{ oferta.PeríodoPúblico|dot_to_bar|split:"até"|last|split:"Liquidação:"|last }}
                                            {% endif %}


{#                                              {{ oferta.PeríodoPúblico|dot_to_bar|split:"até"|first }}<br>#}
{#                                              {{ oferta.PeríodoPúblico|dot_to_bar|split:"até"|last|split:"Liquidação:"|first }}<br>#}
{#                                              {{ oferta.PeríodoPúblico|dot_to_bar|split:"até"|last|split:"Liquidação:"|last }}#}
                                            {#  {{ oferta.PeríodoPúblico|dot_to_bar|ate_trace|liquidacao|safe }}#}
                                        </td>

                                        <td>

                                            {% if oferta.Fundo|check_if_has_aedits:oferta.Emissão == 'ok' %}

                                                <a href="{% url 'offers:edit-rv-fii-edit' oferta.Fundo|check_if_has_aedits_ok:oferta.Emissão %}" style="margin-left: 25px">
                                                    <i class="fal fa-edit text-warning"></i>
                                                </a>

                                            {% else %}


                                                <a href="{% url 'offers:create-rv-fii-edit' oferta.Fundo oferta.Emissão %}" style="margin-left: 25px">
                                                    <i class="fal fa-edit"></i>
                                                </a>

                                            {% endif %}


                                        </td>
                                        <td>

                                            <a href="#" id="_id-{{ oferta.Fundo }}" onclick="get_ticker('{{ oferta.Fundo }}')" class="btn {{ oferta.Fundo|isfile_here }} btn-icon rounded-circle waves-effect waves-themed" data-toggle="modal" data-target="#default-example-modal-lg-center">
                                                <i class="fal fa-cloud-upload"></i>
                                            </a>
                                        </td>

                                        {# hidden fields #}
                                        <td>{% include './fases.html' %}</td>
                                        <td>
                                            {% if oferta.Fundo|modalidade_adicional:oferta.Emissão != '' %}
                                                {{ oferta.Fundo|modalidade_adicional:oferta.Emissão }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ oferta.TipodeOferta }}</td>
                                        <td>{{ oferta.PreçoeTaxa }}</td>
                                        <td>{{ oferta.DataEncerramento }}</td>
                                        <td>{{ oferta.ProporçãodePreferência }}</td>
                                        <td>{{ oferta.ProporçãodeSobras }}</td>
                                        <td>{{ oferta.InvestimentoMínimo }}</td>
                                        <td>{{ oferta.CaptaçãoMínima }}</td>
                                        <td>{{ oferta.CaptaçãoMáxima }}</td>
                                        <td>{{ oferta.CoordenadorLíder }}</td>
                                        <td>{{ oferta.DatadeEncerramento }}</td>
                                        <td>{{ oferta.MétododeRateio }}</td>
                                        <td>{{ oferta.ResultadodoRateio }}</td>
                                        <td>{{ oferta.Observações }}</td>
                                       <td> {{ oferta.Documentação|replace_documentacao|safe }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}
    {% include './js/list_view_js.html' %}
{% endblock %}
<!-- END page script -->






















