{% load static %}
{% load filter_tags %}

<div class="tab-pane fade" id="cusRF" role="tabpanel">

  <div class="panel-content">
    
    <!-- demo controls -->
    <div class="mb-g">
        <div class="row">
            <div class="col-sm-4 col-xl-4">
                <div class="form-group">
                    <label>Arquivos</label>
                    <select class="js-bg-target custom-select">
                      {%for file in custodiarv %}
                        <option value="">{{file|getAddDateCustodiaRV}}</option>
                        
                      {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                  <a class="btn btn-sm btn-success" href="{% url 'configuracoes:upload-arquivos'%}">Atualizar Página</a>
                </div>
            </div>

            <div class="col-sm-8 col-xl-8">

              <form action="{% url 'configuracoes:upload-custodiarv' %}" class="dropzone needsclick" style="min-height: 7rem;" id="custodiarv">
                {% csrf_token %}
                <div class="dz-message needsclick">
                    <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
                    <span class="text-uppercase">Arraste o arquivo para esta área!</span>
                    <br>
                    <span class="fs-sm text-muted">Arquivos permitidos (.xlsx, .xls)</span>
                </div>
              </form>
           
            </div>

        </div>
    </div>
    
  </div>

</div>