{% extends 'index.html' %}
{% load static %}
{% load filter_tags %}
{% load crispy_forms_tags %}


<!-- BEGIN page Style -->
{% block style %}
     {% include './css/css.html' %}
    <style>
        .escondido{
            display:none
        }
    </style>
{% endblock %}
<!-- END page Style -->

<!-- BEGIN Page Subheader -->
{% block subheader %}


   

{% endblock %}
<!-- END page Subheader -->

<!-- BEGIN page content -->
{% block content %}



    <div id="js-page-content-demopanels">
        <div class="col-xl-12">

            <div class="loader"></div>
            <div id="panel-1" class="panel">

                
                <div class="panel-hdr">
                    <h2>
                        Lista de Arquivos <span class="fw-300"><i></i></span>
                    </h2>
                </div>
                  
                <div class="panel-container show">
                    <div class="panel-content">
                       
                        <!-- datatable start -->

                        <div class="demo-v-spacing">

                            <ul class="nav nav-tabs" role="tablist">
     
                                <li class="nav-item ">
                                    <a class="nav-link active fs-xs py-1 px-2" data-toggle="tab" href="#arquivos" role="tab">
                                        <i class="fal fa-file-spreadsheet text-success"></i>
                                        <span class="hidden-sm-down ml-1">Arquivos </span>
                                    </a>
                                </li>

                            </ul>

                            <div class="tab-content p-3">

                                {% include './tabs/arquivos.html' %}
                            
                            </div>

                        </div>

                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}
<!-- END page content -->

<!-- BEGIN page script -->
{% block script %}

    {% include './js/js.html' %}

{% endblock %}
<!-- END page script -->


