{% load static %}
<script src="{% static 'js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
<script src="{% static 'js/notifications/toastr/toastr.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script> 

  <script>
    function regitraAtividadeVenRF(status, cliente){
      var token = '{{ csrf_token }}';
        $.ajax({
                type: "POST",
                url: '{% url 'tarefas:registra-tarefa' %}',
                data: {
                    csrfmiddlewaretoken: token,
                    status: status,
                    codigo_cliente: cliente,
                },
               success: function (response) {

                   toastr.success('Tarefa Registrada', status);
                    toastr.options.timeOut = 1500; // 3s

                    document.getElementById('tdID_'+cliente).innerHTML = status+'<br>'+Date.now()
                    document.location.reload(true);


               },

            })
    }

    function getalertAll(codigo){
      
      $(".allTables tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(codigo) > -1)
    });
    }

    function cleanTable(){
      $(".allTables tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf('') > -1)
    });
    }



    $(document).ready(function()
    {

      $("#filterall").on("change", function() {
        var value = $(this).val().toLowerCase();
        $(".allTables tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
      

      $(".Mypopover").popover({ trigger: "hover" });

        $('#example').DataTable( {
         
            'order': [[4, 'asc']],
            'pageLength': 1000,
        } );
      

      $('#positivos').dataTable(
        {
          language: {
            decimal: ",",
            thousands: "."
        },
            order: [[3, 'desc']],
            responsive: true,
            pageLength: 1000,
            lengthMenu: [10, 20, 50, 100, 200, 500, 1000],
            iDisplayLength: -1,
            deferRender: true,
            processing: true,
            
        });

        $('#niver').dataTable(
        {
        
            order: [[2, 'desc']],
            responsive: true,
            pageLength: 1000,
            lengthMenu: [10, 20, 50, 100, 200, 500, 1000],
            iDisplayLength: -1,
            deferRender: true,
            processing: true,
            
        });

        $('#negativos').dataTable(
        {
          language: {
            decimal: ",",
            thousands: "."
        },
            order: [[3, 'asc']],
            responsive: true,
            pageLength: 1000,
            lengthMenu: [10, 20, 50, 100, 200, 500, 1000],
            iDisplayLength: -1,
            processing: true,
            deferRender: true,
            processing: true,
           
        }); 

        
        $('#dt-basic-example').dataTable(
        {
            responsive: true,
            pageLength: 15,
            order: [
                [4, 'asc']
            ],
          
          
        });
    });

   

</script>