{% load static %}
<script src="{% static 'js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
<script src="{% static 'js/notifications/toastr/toastr.js' %}"></script>
<script src="{% static 'js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'js/formplugins/inputmask/inputmask.bundle.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script> 

<script>

    {% comment %} document.getElementById("inputGroupFile01").addEventListener("change", checkFilebtn); {% endcomment %}

    

    $(document).ready(function(){

        $(":input").inputmask();

        new Clipboard('.bt-copy');

        $('input[name=myfile]').change(function(ev){
            document.getElementById('inputGroupFileAddon01').removeAttribute('disabled')
        });

        $("#inputGroupFileAddon01").on("click", function(){
            var timerInterval;
            Swal.fire(
            {
                title: "Fazendo Upload do arquivo",
                html: "Carregando <strong></strong> ...",
                timer: 50000,
                onBeforeOpen: function onBeforeOpen()
                {
                    Swal.showLoading();
                    timerInterval = setInterval(function()
                    {
                        Swal.getContent().querySelector(
                            "strong"
                        ).textContent = Swal.getTimerLeft();
                    }, 100);
                },
                onClose: function onClose()
                {
                    clearInterval(timerInterval);
                }
            }).then(function(result)
            {
                if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.timer
                )
                {
                    console.log("I was closed by the timer");
                }
            });
        });

        $("#js-sweetalert2-example-8").on("click", function(){
            var swalWithBootstrapButtons = Swal.mixin(
            {
                customClass:
                {
                    confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-danger mr-2"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons
                .fire(
                {
                    title: "Tem certeza que deseja excluir toda a base de dados?",
                    text: "Você não será capaz de reverter este processo!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Sim, excluir!",
                    cancelButtonText: "Não, cancelar!",
                    reverseButtons: true
                })
                .then(function(result)
                {
                    if (result.value)
                    {
                        swalWithBootstrapButtons.fire(
                            "Excluido!",
                            "Todos os dados foram apagados.",
                            "success"
                        ).then(function() {
                                        window.location = "{% url 'clients:delet_all' %}";
                                    });
                    }
                    else if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.cancel
                    )
                    {
                        swalWithBootstrapButtons.fire(
                            "Ok",
                            "Os dados foram mantidos!",
                            "error"
                        );
                    }
                });
        }); 

        $(".thisButton").click(function(){
            $(this).removeClass("btn-default");
            $(this).addClass("btn-success");
            $(this).html('<i class="fal fa-check"></i>');
        });

        $(".thisButtonToggle").click(function(){
            if($(this).hasClass('btnFalse')){
                $(this).removeClass("btn-default");
                $(this).removeClass("btnFalse");
                $(this).addClass("btn-success");
                $(this).html('<i class="fal fa-check"></i>');
            }else{
                $(this).removeClass("btn-success");
                $(this).addClass("btn-default");
                $(this).addClass("btnFalse");
                $(this).html('<i class="fal fa-times"></i>');
            }
        });

        
        $('#dt-basic-example').dataTable(
        {
            responsive: true,
            order: [
                [1, 'asc']
            ],
            responsive: true,
            stateSave: true, //remembers your table settings (filter, scroll point, sort, etc) 
            processing: true,
            deferRender: true,
            sAjaxSource: '{% url "clients:get-my-clientes" %}',
            processing: true,
            dataSrc:"data",
        });

    });

    function updateOnbording(id, name, choice)
    {
        if (choice == '[object HTMLSelectElement]'){
            choice = choice.value
        }else{
            choice = choice
        }

        var token = '{{ csrf_token }}';
        $.ajax({
                type: "POST",
                url: '{% url 'clients:update-onbord' %}',
                data: {
                    csrfmiddlewaretoken: token,
                    id: id,
                    name: name,
                    choice: choice
                },
                success: function (response) {

                    toastr.success(response);
                    toastr.options.timeOut = 1500;
                },

            })
    }

    function copiei() {
        $('#copiado').html('<span class="badge badge-success" style="float:right">Corpo do email copiado</span>').delay(2000).fadeOut('slow');
    }

    function salvarObs(){
        id = document.getElementById('pegaid').value
        obs = document.getElementById('modl_obs').value

         var token = '{{ csrf_token }}';

            $.ajax({
                type: "POST",
                url: '{% url 'clients:update-observacao' %}',
                data: {
                    csrfmiddlewaretoken: token,
                    obs: obs,
                    id: id,
                },
               success: function (response) {

                    toastr.success('Salvo!', 'Observação');
                    toastr.options.timeOut = 1500; // 3s

               },

            })
    }

    function get_category_template(sel) {
       var token = '{{ csrf_token }}';

        var choice = document.getElementById('select2insidemodal').value

       {#alert();#}

        $('#responsavel').html(sel.options[sel.selectedIndex].text);


       if(choice)
       {
           $.ajax({
               type: 'POST',
               url: '{% url 'mail:get-all-templates' %}',
               data: {
                   choice: choice,
                   csrfmiddlewaretoken: token
               },
               success: function (response) {

                    {#console.log(response)#}

                    $('#response').html(response);
                    $(document).ready(function() {

                        "use strict";
                        $("#js-sweetalert2-example-8").on("click", function()
                        {
                            var swalWithBootstrapButtons = Swal.mixin(
                            {
                                customClass:
                                {
                                    confirmButton: "btn btn-primary",
                                    cancelButton: "btn btn-danger mr-2"
                                },
                                buttonsStyling: false
                            });
                            swalWithBootstrapButtons
                                .fire(
                                {
                                    title: "Deseja excluir a categoria?",
                                    text: "Todos os templates relacionados a ela serão exluidos!",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonText: "Sim",
                                    cancelButtonText: "Não",
                                    reverseButtons: true
                                })
                                .then(function(result)
                                {
                                    if (result.value)
                                    {
                                        swalWithBootstrapButtons.fire(
                                            "Excluido!",
                                            "Todos os dados foram apagados.",
                                            "success"
                                        ).then(function() {
                                                        {#window.location = "{% url 'mail:delete-template' kwargs={'num':id} %}";#}
                                                        window.location = "/mail/delete_template/"+document.getElementById('id_category').value;
                                                    });
                                    }
                                    else if (
                                        // Read more about handling dismissals
                                        result.dismiss === Swal.DismissReason.cancel
                                    )
                                    {
                                        swalWithBootstrapButtons.fire(
                                            "Ok",
                                            "Os dados foram mantidos!",
                                            "error"
                                        );
                                    }
                                });
                        });




                    });

               },
           });
       }
       else
       {
           $('#response').html("");

       }

    }

    function sendEmailQuestionario(id){
        var token = '{{ csrf_token }}';
        $.ajax({
                type: "POST",
                url: '{% url 'clients:mail-ondemand' %}',
                data: {
                    csrfmiddlewaretoken: token,
                    id: id,
                },
               success: function (response) {

                   toastr.success('Enviado!', 'Email Ondemand');
                    toastr.options.timeOut = 1500; // 3s


               },

            })
    }



</script>

